<a href="https://colab.research.google.com/github/ShiviRaghu/sql/blob/main/SQL_CLASSES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL CLASSES SCHEDULE -

NOTES

1. INTRO TO SQL - 14/04 done
2. CORE CONCEPTS OF SQL  - done
3. SELECT WHERE - done
4. DOUBT CLASS
5. OPERATORS - DONE
6. AGGREGATION - DONE
7. **ORDER OF EXECUTION**
8. DOUBT CLASS
9. JOINS -DONE
10. SUBQUERIES -DONE
11. CTE'S - DONE
12. DOUBT CLASS
13. WINDOW FUNCTIONS - DONE
14. **CONNECTING TO MULTIPLE DBS**
15. SQL MANIPULATION -DONE
16.** normalization  **
17. project

## INDEX
1. Intro to SQL
2. DATA TYPES AND CONSTRAINT
3. COMMANDS

## 1.INTRO TO SQL

### 1.1INTRO


1. **D.S** --> IN LAYMAN LANGUAGE ITS TO EXTACT MEANIGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS OR MAKE PREDICTION MODELS

2. **D.A** --> SUBSET OF D.S --> EXTRACT INF MEANIGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS
 EXTRACT INF  + PREDICTION MODELS = D.S

 EX --> ELECTION DATA TO PREDICT RESULTS, STARTUP DATA TO GIVE NEXT YEAR SALES

 THIS DATA NEEDS TO BE STORE SOMWHERE -->THAT PLACE IS CALLED AS **DATABASE**

3. **DATABASE** --> ORGANIZED COLLECTION OF DATA, WHICH ALLOW EASY ACCESS, MANAGEMENT,AND RETRIEVAL OF DATA, ITS LIKE DIGITAL FILLING CABINET

   Database is a storage system that has a collection of data. Relational databases store data in the form of tables that can be easily retrieved, managed and updated


    FE (OF COMAPNY)/ END USER ---> DBMS --> DB

4. **DBMS**  --> DATABASE MANAGEMENT SYSTEM - SPECIALIZED SOFTWARE
IT ACTS AS A BRIDGE BTW APP AND DB
IT HELP US TO CREATE DB, MANAGE DB, RETRIEVE, CONTROL THE FLOW OF UR DATA

  **IMP OF DBMS** --> 1. EFFICENCY OF DATA -CREATE DB, MANAGE DB, RETRIEVE, CONTROL THE FLOW OF UR DATA 2. IMPROVE DATA SHARING(N PEOPLE AT A TIME) 3. DATA INTEGRITY SECURITY

  DATA IS A PIECE OF INF - STR (TABULAR), UNSTR(PDF,MEDIA LOGS, WORDD FILES, JSON), SEMI STR(IMAGES, VIDEOS)

  **TYPES OF DBMS** -->
                        1.Relational Databases
                        2.Non-Relational Databases -NOSQL
                        3.Hierarchical -- IBM Inf management, window registry, no sql dbms
                        4.Network
                        5.Object oriented - postgres, informix
                        6.Columnar - cassandra,**amazon redshift, google bigquery, sap hana**
                        7.in memory - sap hana, oracle time
                        8.cloud base - aws, google cloud, azure sql
                        9.distributed - google spanner, cockroach db

 **Relational Databases (SQL)** -->These store data in tables (rows = records/ instance of data and columns=attributes) and maintain relationships between different tables using keys (Primary Key, Foreign Key).
 SQL is used to query and manipulate relational databases.Popular Relational Databases:- 1.MySQL -OPEN 2.PostgreSQL -- JSON ADVANCE INDEXING
 3.Microsoft SQL Server -OPEN 4.Oracle Database - LARGE

 **NON Relational Databases (NO SQL)** -->These (often referred to as NoSQL databases) do not follow a tabular structure. Instead, they store data in various formats such as key-value pairs, documents, graphs, or columns.
  
  NoSQL databases are more flexible and are often used when dealing with large volumes of unstructured or semi-structured data.
  
  **Popular Non-Relational Databases:** -->
                                             1.MongoDB (Document-based)
                                             2.Cassandra (Column-family based)
                                             3.Redis (Key-value store)
                                             4.Neo4j (Graph-based)
                                             
  **Relational vs. Non-Relational Databases** -->

  1.Data is stored in structured tables with relationships between different tables. || Data is stored in a flexible format (key-value pairs, documents, columns, etc.).

  2.Provides ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data reliability and integrity. ||
  Offers scalability and better performance for unstructured or semi-structured data.Provides BASE (Basically Available, Soft state, Eventual consistency) for high availability and distributed systems.

  3.fixed predefined schema || flexible schema

  4.SCALABILITY - VERTICAL scale up means adding more rows ||HORIZONTAL adding more columns is easy
  
  5.Suitable for complex querying and data analysis.More rigid schema with predefined structure. || Used for high-throughput, large datasets with simple queries.

  **ACID PROPERTIES** ---> transaction --one logical unit of work -add/delete of data
  1. Atomicity: Ensures all database transactions are fully completed or fully rolled back.
  2. Consistency: Ensures data remains in a valid state before and after transactions, across db
  3. Isolation: Ensures transactions occur independently.ex - 2 people booking seat
  4. Durability: Ensures data is permanently stored after a transaction.ex-seat book can't be lost if data is also deleted

  **BASE properties**:
  1. Basically Available: Ensures system availability even in case of failures.
  2. Soft State: The state of the system may change over time.
  3. Eventual Consistency: Ensures data consistency over time without strict transactional guarantees.
  
  **SQL vs. NoSQL**

  1.SQL (Relational Databases): -->Uses (SQL) for database interaction.
Suitable for applications where data relationships and integrity are crucial.

   NoSQL (Non-Relational Databases)
   No specific query language; interaction happens through APIs or other query models depending on the database (e.g., MongoDB uses MQL—Mongo Query Language).

 2.Requires a fixed schema, making it less flexible in terms of data structure. || Offers flexibility in schema design, allowing the data model to evolve over time.

 Ideal for high-velocity, high-volume data with minimal structure, such as real-time data processing or big data applications.

 **Components of RDBMS** --> 1.Tables 2.relationship btw tables 3.data integrity -constraints 4.normalization -its set of rules to organize data in a way that we have lesser duplicay or inconsistency. decomposing a big table into n small tables

### 1.2INTRO TO SQL


1. **SQL (Structured Query Language)** -->It is a powerful language used to communicate with and manage data stored in relational databases.

   It enables users to create, modify, and manipulate data structures and records.
   
   SQL is commonly employed to query, insert, update, and delete records, as well as to design and alter the database itself.
  
   With its versatility, SQL can handle complex queries and process large volumes of data, making it the most widely used language for managing databases across various applications.
   
2. **Functions of SQL:**
          1.Data Querying: Retrieve data from a database using the SELECT statement.
          2.Data Manipulation: Perform operations like inserting (INSERT), updating (UPDATE), and deleting (DELETE) data.
          3.Data Definition: Define the structure of a database using Data Definition Language (DDL) commands like CREATE, ALTER, and DROP.
          4.Data Control: Control access and permissions to data using Data Control Language (DCL) commands like GRANT and REVOKE.
'
3. **Importance of SQL:**
          1.Industry Standard: SQL is the most widely used database language across the globe.
          2.Scalability: SQL databases can handle a huge volume of data, making it essential for data-driven businesses and organizations.
          3.Cross-Platform Compatibility: SQL can be used on various platforms (Windows, Mac, Linux) and supports different database systems.
          4.Declarative Nature: SQL is a declarative language
          5.Data Integrity: SQL helps enforce data integrity and security with features like constraints (e.g., PRIMARY KEY, FOREIGN KEY) and permissions (DCL commands).

4. **Applications of SQL** -
          1.Data Storage: SQL is the standard language used to store and manipulate data in relational databases.
          2.Data Definition: SQL is used to create, alter, and manage the structure of database objects such as tables, indexes, and views.3.Data Retrieval: SQL allows users to query and filter data from one or more tables
          4.Data Manipulation: SQL can be used to update, insert, and delete records within a database.
          5.Data Security: SQL manages access controls, granting and revoking user permissions to maintain data security.
          6.Data Analysis: SQL supports data analysis by performing calculations, generating reports, and creating visualizations based on queried data.

5. **Advantages of SQL** -
          1.Ease of Use: SQL is user-friendly, with clear syntax
          2.Standardization: SQL is a standardized language, making it compatible with numerous database management systems.
          3.Scalability: SQL can handle large datasets and scale with growing business needs.
          4.Flexibility: SQL is highly adaptable, capable of handling both simple queries and complex data analysis.
          5.Security: SQL includes built-in security features
          6.Performance: SQL is optimized for performance, allowing for quick query execution and real-time data retrieval, making it a valuable tool for decision-making.

6. **Limitations of SQL** -
          1.Complexity: SQL can be difficult to learn, especially for beginners unfamiliar with database design and programming concepts.
          2.Limited Support for Non-Relational Data: SQL is specifically designed for relational databases, which may not be ideal for managing non-relational data formats like JSON or XML.
          3.Cost: Some SQL-based database management systems are expensive to license, particularly for large-scale enterprise applications.4.Scalability Challenges: Although SQL is scalable, managing very large datasets with a centralized architecture can pose challenges and lead to performance bottlenecks.
          5.Performance Issues with Large Datasets: SQL may experience performance degradation when handling exceptionally large datasets or highly complex queries, potentially impacting user experience.

## 2.DATA TYPES AND CONSTRAINTS

### DATA TYPES -

1. 2 Types of file imported in mysql -.sql and .csv
2. json -unstr -datatype, geo coordinates - geometry
3. Data types in SQL define the kind of values that can be stored in a column of a table.
4. They help maintain data integrity and ensure that the correct type of data is used for specific operations.

5. Categories of Data Types -
        Character Types (text)
        Numeric Types (number)
        Date/ Time Types (timestamp)
        Null Values
        Binary


**1. NUMERIC DATA TYPE - Integers and Decimals**

1. BIGINT - Large integers (8 bytes), +-9,223,372,036,854,775,808
  ex - ISBN storage in a library
2. INT - Standard integers (4 bytes), +-2,147,483,648 , ex -Number of available books
3. SMALLINT - Small integers (2 bytes),-32,768 to 32,767, ex -Book ratings (1-5 scale)
4. TINYINT- Very small integers (0-255) (1 bytes),0 to 255, ex -Page count in a pamphlet
5. Bit (w)- specify max number of bits (1-64)
6. Boolean - true or flase no size

**1.1.2 DECIMAL(w,d) - Fixed-point numbers - Stores fixed-point numbers.** , max(65,30), default (10,0)
Book price (e.g., ₹19.99)

**1.1.3 FLOAT or double - Approximate numbers** - can be written without
    precision, float(w,d) or float(p) p--> 0 to 24
    double(w,d) or double(p) p--> 25 to 53
    ex -Average book rating (4.25)

1.1.4 - real has less precision than float

> For numeric data type we have signed and unsigned values
SIGNED --> +,-,0  min -ve, max 0
UNSIGNED/ZERO FILL TAG --> 0 or +ve values, ex - int(10) value =5 then 00000000005

> **Autoincrement CN are by default unsigned allow fatser index**
ex - create table tn (id int signed /unsigned)
by default values are signed

**2. Character Data Types :-**

Character data types are used to store textual information. These types are essential when dealing with names, descriptions, and any form of alphanumeric data.

1. CHAR - Fixed-length non-Unicode characters.ex -A two-letter country code for book origins. 0-255
2. VARCHAR - Variable-length non-Unicode characters.ex -Book titles which can vary significantly in length.1-65535w
3. TEXT - Variable-length non-Unicode character data for large text, example: A book's synopsis.
4. NCHAR - Fixed-length Unicode characters(multi lang chars), ex-Book titles in different
5. NVARCHAR - Variable-length Unicode characters, ex- Author names that may include special characters.


**3. Date/Time Data Types :-**
Date and time data types allow you to store dates, times, or both.
1. DATE - Stores date values. YYYY-MM-DD
2. TIME - Stores time values. HH-MM-SS
3. DATETIME - 2023-10-09 10:30:00'
4. TIME STAMP - YYYY-MM-DD -HH-MM-SS
   
   CREATED_AT TIMESTAMP DEFAULT CURRENT_TIMESTAMP/NOW()
5. YEAR [2/4] YY/YYYY

**4. Binary Data Types:-**
Binary data types are used to store binary data, such as images, files, or multimedia content.

1. BINARY - Fixed-length binary data,Example: Cover images of books.
2. VARBINARY - Variable-length binary data, EX -Audio files for audiobooks.

**5. NULL Values:-**
NULL represents the absence of a value in a column. It is different from an empty string or zero because it explicitly indicates that no value has been provided.

  IFNULL(X,Y), COLAESECE(NULL,0)

**6. Special Data Types:-**
1. BLOB (Binary Large Objects) - large binary data, such as images, audio, or video files. It is particularly useful when dealing with multimedia content in a database.

2. ENUM/SET
ENUM: This data type allows you to define a column that can only **hold one value from a predefined list of options.**

 SET: This data type allows you to define a column that can **hold multiple values from a predefined list of options.**

 EX- ENUM('Fiction', 'Non-Fiction', 'Mystery', 'Science Fiction', 'Biography')

 EX - SET('Author1', 'Author2', 'Author3', 'Author4')



> Choosing the Right Data Type - Ensures data integrity, Optimizes storage efficiency,Enhances query performance,Consider the Nature of the Data:, Evaluate Data Size:, Anticipate Future Needs

### CONSTRAINTS -

 Ensure data accuracy & integrity by setting rules on columns.
 Can alter modify constraints if not given intable

1. PRIMARY KEY: Unique identifier --> NOT NULL +UNIQUE(e.g., BookID), ensures that no two rows have the same primary key value

  **1 table has only 1 primary key**

  **composite key** - primary key consist of more than 1 column

2. AUTO_INCREMENT: Auto-generates unique IDs,generally assigned to primary key for simplify assignment
3. NOT NULL: Prevents missing values (e.g., Book titles)
4. UNIQUE: Prevents duplicates (e.g., ISBN numbers)
5. FOREIGN KEY: Connect one table with another, column or columns which links to primary key of ither table, ensures every entry in foreign key is present in source table - primary key column
6. check - condition
7. default -set default if no value is added

  create table TN (
    empid int primary key,
    firstname varchar(10) not null,
    hiredate date,
    salary float check (salary >0)
    sex default neutral)

## 3.COMMANDS

### SQL COMMANDS

Types of SQL Commands -

1️⃣ DDL (Data Definition Language) – **Creates & modifies data objects - B, tbale, views, indexes, schemas**, all DDL commands are auto commited

	CREATE TABLE, ALTER TABLE, DROP TABLE, TRUNCATE, RENAME, COMMENT

2️⃣ DML (Data Manipulation Language) – Handles data
	INSERT, UPDATE, DELETE, SELECT

3️⃣ DCL (Data Control Language) – Manages permissions
	GRANT, REVOKE

4️⃣ TCL (Transaction Control Language) – Manages transactions
	COMMIT, ROLLBACK, SAVEPOINT, SET TRANSACTION

### **1.DCL -**
**1.1 CREATE**

1. CREATE DATABASE/SCHEMA DBNAME;
2. USE DBNAME;
3. SHOWTABLES ;
4. CREATE TABLE TN(CN DT(D.V))


**1.2 ALTER**

1. ALTER TABLE TN ADD CN DT;
2. ALTER TABLE TN MODIFY CN DT -- FOR MODIFYING DATA TYPE
3. ALTER TABLE TN DROP CN --DROP CN
4. ALTER TABLE TN ADD CONSTRAINT CONST_NAME UNIQUE(CN)
5. ALTER TABLE TN DROP CONSTRAINT CONST_NAME
6. ALTER TABLE TN DROP INDEX IDX_NAME
7. ALTER TABLE TN ADD P.KEY (CN) -- CN SHOULD BE NOT NULL
8. ALTER TABLE TN F.KEY(CN) REFRENCES TN(P.KEY CN)
9. ALTER TABLE TN DROP P.KEY/ DROP F.KEY
10. ALTER TABLE TN RENAME COLUMN CN1 TO CN2


**1.3 DROP TABLE - STRUCTURE +DATA**

1. DROP TABLE TN
2. DROP DB DB_NAME
3. CAN'T DROP COLUMN


**1.4 TRUNCATE - REMOVES DATA BUT STRUCTURE WILL REMAIN, FASTER THAN DELETE, CAN'T BE USED WITH WHERE CLAUSE**

1.  TRUCATE TABLE TN

**1.5 RENAME - TO NEW TABLE NAME, INDEX, CN ETC**

1. RENAME TABLE TN1 TO TN2
2. ALTER TABLE TN RENAME COLUMN CN1 TO CN2

1.6 COMMENT 'XYX'

### **2.DML -**

**1.1 INSERT**

1. INSERT **INTO** TN (CN1,---------------------CN) VALUES (V1,V2------)
2. INSERT INTO TN VALUES(V1-----)
3. MAINTAIN SEQUENCE, DEFAULT, '' FOR CHARS
4. TO INSERT DATA FROM 1 TABLE TO OTHER USING SELECT -
   
   INSERT INTO TARGET TABLE(CN1,---) SELECT CN1,-- FROM SOURCE TABLE WHERE;


**1.2 UPDATE**

1. UPDATE TN **SET** CN1 =V1, CN2=V2 ---------WHERE CONDITION

**1.3 DELETE**

1. DELETE **FROM** TN WHERE CONDITION
2. DELETE FROM TN  --------- ALL ROWS

**1.4 COPIES**

1. CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE;
2. COPY STRUCTURE - CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=0;
3. COPY DATA -CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=1;

### 3.DCL -

**3. Data Control Language (DCL)** - Used to control access and manage user permissions within a database.

GRANT: Assigns specific privileges (like SELECT, INSERT, UPDATE, DELETE) to users or roles

grant select, update on my_table to u1,u2------

REVOKE: Removes previously granted privileges from users or roles.

revoke select, update on my_table from u1,u2------



**4. Transaction Control Language (TCL)** - TCL manages database transactions, which are sequences of operations treated as a single unit of work.

TCL commands ensure that changes made during a transaction are either fully applied or discarded if an error occurs.

COMMIT: Permanently saves changes made by DML operations.

ROLLBACK: Reverts the database to its previous state if something goes wrong during a transaction.

SAVEPOINT: Sets a point within a transaction that you can roll back to if needed.
savepoint save_point_name

### SELECT-WHERE

The SELECT statement in SQL is used to retrieve data from a database.

1. SELECT column1, column2, ...FROM table_name;
2. SELECT column1, column2, ...FROM table_name where CN >=<;

3. Conditions:
        = : Equal to
        <> or != : Not equal to
        > : Greater than
        < : Less than
        >= : Greater than or equal to
        <= : Less than or equal to
        BETWEEN : Between a range of values
        LIKE : Search for a pattern in strings
        IN : Match any value in a list
        IS NULL : Check if a value is NULL

4. AND
5. OR
6. () --> use to group values together
SELECT column1, column2, ...FROM table_name where (cn1=v1 and cn2=v2) or (cn1=v1 and cn2=v2)

### Select statements

1. **ORDER BY**  - is used to sort the result set in either ascending or descending order.

Syntax:

SELECT column1, column2, ...FROM table_name **ORDER BY column1 [ASC|DESC];**

with multiple columns - 1st sort by 1st cn, then if 1st has same value, then sort by second


SELECT column1, column2, ...
FROM table_name
ORDER BY column1 [ASC|DESC], column2 [ASC|DESC], ...;


2. **Alias** -Is used to rename a column or table within a query result. The alias is a temporary name that only exists for the duration of the query.


SELECT column_name AS alias_name FROM table_name;

Select a.cn1, a.cn2 from tn1 as a, tn2 as b where
a.cn1 = b.cn1


3. **LIMIT AND OFFSET -**

The LIMIT and OFFSET clauses are used to restrict the number of rows returned by a query. These are useful for pagination or when you only need a subset of the results.

LIMIT: Restricts the number of rows returned.

OFFSET: Skips a specific number of rows before starting to return rows.

SELECT column1, column2, ...FROM table_name LIMIT number_of_rows OFFSET skip_rows;

4. **Edge Cases for LIMIT and OFFSET**

 1. Performance Issues with large OFFSET
 2. Inconsistent Results on Dynamic Datasets - Data Changes During Pagination:

    If the underlying dataset changes (e.g., rows are inserted or deleted) while the user is paginating through results, the results may become inconsistent.

  3. Non-Deterministic Ordering - Lack of Unique Ordering, Without a unique identifier for ordering, the result set may be unpredictable.

  4. Alternative Approaches for Pagination-
  Keyset Pagination:

    For large datasets, consider using keyset pagination instead of OFFSET.
    
    This approach relies on a unique key to fetch the next set of results and avoids the performance penalties associated with large offsets.


    -----------QUESTIONS DATA SET -------

## 4.SQL DATA MANIPULATION -

### DATA MANIPULATION -

1.  CREATE TABLE employees (
     employee_id INT PRIMARY KEY,
     first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    hire_date DATE,
    salary FLOAT CHECK (salary > 0),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);


2. Hierarchical data

   CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    manager_id INT,
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
);

3. Transactions in SQL -
It is a sequence of one or more SQL operations that are treated as a single unit of work.

   Transactions help ensure data consistency and integrity

  Importance- they are essential for maintaining data integrity in the event of system crashes, errors, or other failures.
  
  By using transactions -Ensure that a group of related operations is either fully completed or not applied at all.
  
  Transactions follow the ACID properties, which ensure reliability:

```
-- Start a transaction
BEGIN TRANSACTION;

-- Debit Account_A
UPDATE accounts
SET balance = balance - 500
WHERE account_id = 1;

-- Credit Account_B
UPDATE accounts
SET balance = balance + 500
WHERE account_id = 2;

-- If both operations are successful, commit the transaction
COMMIT;


-- in case of failure
ROLLBACK;
```

### INDEXES -

1. In SQL, an index is a **database object** that significantly improves the speed of data retrieval operations **by creating a data structure that holds pointers to rows in a table.**

 Just like an index in a book helps you quickly find a topic by pointing to the pages where it's discussed, an SQL index points to the location of data within a table, enabling faster query performance.

2. How Does an Index Work? - An index works by creating an **ordered data structure (usually a B-Tree)** that allows the database to quickly locate the row or rows that match a specific query condition.

 Instead of scanning the entire table row by row (which is known as a full table scan), the database can use the index to jump to the location of the required rows more efficiently.

 Analogy:Index created in the book

3. How SQL Indexes are Implemented- Most relational databases implement indexes using a B-Tree or B+Tree data structure.

  This tree structure allows for **logarithmic time complexity (O(log n))** when searching for data, which is much faster than a full table scan, especially as the size of the table grows.

  Example of a B-Tree Structure:

  Nodes: Each node in the B-Tree represents a range of values.

  Pointers: The B-Tree stores pointers to the actual rows in the table.

  Ordering: The tree is kept in a sorted order, making it easy to traverse.
  
  When a query is executed, the database engine uses the index to navigate the tree and quickly find the required rows, reducing the number of disk accesses needed to retrieve the data.

4. Why Are Indexes Important?
Indexes are critical for improving the performance of queries, especially in large databases.

 Without indexes, SQL queries that involve searching (WHERE clause), sorting (ORDER BY), or joining (JOIN clauses) would require the database to scan every row in the table, which can be extremely slow when dealing with large amounts of data.

5. **Types of Indexes in SQL**

 1.Single-Column Index: -

 **CREATE INDEX idx_name ON employees (LastName);**

 2.Composite Index (Multi-Column Index): An index created on two or more columns in a table.
It improves the performance of queries that filter data based on multiple columns.

 **CREATE INDEX idx_name_department ON employees (LastName, Department);**

 3.Unique Index: - Ensures that the values in the indexed column(s) are unique, preventing duplicate values.
This is **automatically created for primary key constraints, but can also be defined explicitly.**

 **CREATE UNIQUE INDEX idx_unique_email ON employees (Email);**

 4.Full-Text Index - Specialized index used for text-based searches in large text fields.

 It’s useful for queries that search for keywords in large text columns, such as product descriptions.

 **CREATE FULLTEXT INDEX idx_description ON products (Description);**

5. ```
CREATE TABLE employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);
```
 CREATE INDEX idx_lastname ON employees (LastName);

 SELECT * FROM employees WHERE LastName = 'Smith';

6. Here are some scenarios where using an index is beneficial:

 Queries with WHERE clauses

 Sorting results: When using ORDER BY to sort query results, an index can speed up the sorting process.

 SELECT * FROM employees ORDER BY LastName;

 Joins between tables:

7. **Performance** Considerations -

 1.While indexes improve query performance, they come with trade-offs. Specifically, i**ndexes can slow down data modification operations like INSERT, UPDATE, and DELETE,** because the index itself needs to be updated each time data in the indexed column changes.

 2.take up disk space, and creating too many indexes
can consume more storage. It's important to balance the need for faster queries with the overhead of maintaining indexes.

 3.Maintaining Indexes
Dropping an Index: If an index is no longer needed or is causing performance issues, it can be dropped with the following statement:

 **DROP INDEX idx_name ON employees;**

 4.Rebuilding an Index: Over time, indexes can become fragmented due to data modifications. To maintain optimal performance, it's important to periodically rebuild or reorganize indexes.

 This process reorders the data in the index to improve efficiency.

 **ALTER INDEX idx_lastname ON employees REBUILD;**


8. **Disadvantages of Indexing**

 1.Slower Data Modifications:

 2.Storage Requirements

 3.Overhead for Unused Indexes:


9. **Best Practices for Indexing**

 1.Index selective columns: Create indexes on columns that are used frequently in WHERE or JOIN clauses and have high selectivity (i.e., many unique values).

 2.Avoid over-indexing

 3.Monitor index usage

### **VIEWS**

1. **View** in SQL is a virtual table that is based on the result of a SELECT query.

 It does not store data itself, but rather, it dynamically retrieves data from one or more underlying tables each time it is queried.

 Views allow users to simplify complex queries, hide data complexity, and control access to specific data without altering the original tables.

2. **Key Characteristics of Views:**

 1.Virtual Table: A view is not a physical table; it does not store data. It only stores the SQL query used to generate the data.

 2.Dynamic Data: Data in a view is dynamic and reflects the changes made in the underlying tables.

 3.Simplification: Views can simplify complex queries by abstracting the SQL query logic.

 4.Security: Views can restrict access to specific rows and columns, allowing users to see only the data they need.

 **CREATE VIEW view_name AS SELECT column1, column2, ...FROM table_name WHERE condition;**

 CREATE VIEW employee_salaries AS SELECT FirstName, LastName, Salary FROM employees;

3. **Types of Views:**

  1.Simple View: Based on a single table without any functions or joins.

  2.Complex View: Involves multiple tables and can include joins, group functions, or subqueries.

4. **Advantages of Views:**

   Simplified Queries: Complex SQL logic can be encapsulated in a view.

   Data Security: Users can be restricted to specific data by allowing access only through views.
   
   Data Abstraction: Views provide a layer of abstraction between users and the actual table structure.

5. **Limitations:**

   No Data Storage: Since views don't store data, querying a view may be slower if the underlying query is complex.

   Non-Updateable Views: In some cases, especially with complex views involving joins or group functions, views may not be updateable, meaning you cannot modify data through the view.

   Modifying Data Through a View: - If the view is based on a single table without joins, and includes all required columns, you can INSERT, UPDATE, or DELETE data through the view, which will affect the underlying table.

### **ERROR HANDLING**

 Errors can occur during data manipulation for various reasons, such as constraint violations, incorrect data types, or insufficient permissions.

 It is important to handle these errors gracefully to maintain data integrity and ensure the correct functioning of the application.

1. Try-Catch Blocks (In Procedural SQL) -
 Example of Error Handling in SQL Server:


    BEGIN TRY
    BEGIN TRANSACTION;

    -- Insert operation
    INSERT INTO employees (employee_id, name, salary)
    VALUES (10, 'John Doe', 50000);

    -- Commit the transaction if no errors
    COMMIT;

    END TRY
    BEGIN CATCH
    -- If an error occurs, rollback the transaction
    ROLLBACK;

    -- Return the error message
    PRINT ERROR_MESSAGE();

    END CATCH;


Example:

    BEGIN TRANSACTION;
    
    -- Attempt to update a record
    
    UPDATE employees SET salary = salary * 1.10 WHERE employee_id = 5;

    -- Check if the update was successful
    IF @@ERROR <> 0
    BEGIN
    -- Rollback the transaction if there is an error
    ROLLBACK;
    END
    ELSE
    BEGIN
    -- Commit the transaction if no error
    COMMIT;
    END;


2. Common Causes of Errors During Data Manipulation -
    1.Constraint Violations
    2.Data Type Mismatches:
    3.Null Values:
    4.Insufficient Permissions:

3. Best Practices for Error Handling
1.Validate Data Before Inserting or Updating:
2.Use Transactions for Critical Operations:
3.Use ROLLBACK on Errors:
4.Log Errors:

## 5.OPERATORS

### OPERATORS

1. Arithmetic Operators - These operators can be used in SELECT, WHERE, UPDATE, and other SQL clauses where numeric operations are necessary.

```
+,- ,*, %
```

2. Comparison Operators -
```
=, <, >,<=, >= ,!=
```

3. Logical Operators / Conjunctive
```
AND, OR, NOT (where not cn ='v')
```

4. Set Operators - all cn and data type should be same

 1.UNION - Combines the result sets of two or more queries and removes duplicates.
```
SELECT City FROM Users UNION SELECT City FROM Employees;
```
 2.UNION ALL - Combines the result sets of two or more queries without removing duplicates.
```
SELECT City FROM Users UNION ALL SELECT City FROM Employees;
```

 3.INTERSECT - Returns only the rows that are common between the two result sets.
```
SELECT City FROM Users INTERSECT SELECT City FROM Employees;
```

 4.EXCEPT- Returns the rows from the first query that are not present in the second query
```
SELECT City FROM Users EXCEPT SELECT City FROM Employees;
```


5. Other Operators

 1.IN Operator - IN operator allows you to specify multiple values in a WHERE clause. It is a shorthand for multiple OR conditions.

 >SELECT * FROM dataset WHERE City IN ('Delhi', 'Mumbai', 'Chennai');

 >SELECT * FROM dataset WHERE City NOT IN ('Delhi', 'Mumbai', 'Chennai');

 2.BETWEEN Operator -selects values within a specified range. The values can be numbers, text, or dates.
 >SELECT * FROM dataset WHERE Salary BETWEEN 40000 AND 80000;

 3.IS NULL / IS NOT NULL - These operators are used to check whether a column has a NULL value or not.
 >SELECT * FROM dataset WHERE Salary IS NULL;

 >SELECT * FROM dataset WHERE JoinDate IS NOT NULL;

 4.EXISTS Operator - The EXISTS operator is used to test for the existence of any records in a subquery. It returns TRUE if the subquery returns at least one row.
 >SELECT * FROM dataset WHERE EXISTS (SELECT 1 FROM dataset WHERE City = 'Delhi');

6. String Operators

 1.Concatenation Operator (||)
 >SELECT City || ' - ' || Department AS LocationAndDept FROM dataset;

 2.UPPER/ LOWER
 >SELECT UPPER(Name) AS UppercaseName FROM dataset;

 3.EXTRACT
 >SELECT SUBSTRING(JoinDate, 1, 7) AS YearMonth FROM dataset;


7. LIKE OPERATOR -The LIKE operator is used for pattern matching in strings. It is commonly used with wildcard characters (% and _).

 Wildcards:
  %: Represents zero or more characters / * in MS

  _: Represents a single character. / ? in  MS

 Find users whose Name starts with any vowel:
 >SELECT * FROM dataset WHERE Name LIKE '[AEIOUaeiou]%';

 Find users whose Name does not start with a vowel:
 >SELECT * FROM dataset WHERE Name LIKE '[^AEIOUaeiou]%';

 ```
 start with x --> 'x%'
 end with x --> '%x'
 x at any position -->'%x%'
 xy at  2nd and 3rd position --> '_xy%'
 start with x and atleast 3 char in length --> 'x_%_%
 x at 2nd and end with y --> '_x%y'
 ```

 ```
 select top n% from tn where
 select * from tn limit n
 select * from tn where rownum <=n
 ```

### FUNCTIONS



```
1. ABS --> absolute value of +ve
2. ABG(CN)
3. CONCAT ( CN1||' '||CN2)
4. CONCAT_WS ( ) -->WORK WITH NOT NULL VALUES, ADD SEPERATOR
5. CASE
     WHEN CONDITION THEN VAL1
     WHEN CONDITION THEN VAL2
   ELSE DEF VALUE
   END
6. CAST --> ALLOW CONVERT TO 1 TYPE TO OTHER
7. CIEL (F) -->RETURNS VALUE IN INTEGER EQUAL OR MORE THAN X
   CIEL(-2.3) -->-2
   CIEL(2.3)  --->3
7. FLOOR (F) -->RETURNS VALUE IN INTEGER EQUAL OR LESS THAN X
   FLOOR(-2.3) -->-3
   FLOOR(2.3)  --->2
8. COALESCE (X,Y,Z) -->TAKES NO. OF ARGS AND RETURNS FIRST NON NULL VALUE
9. NVL (X,Y) -->TAKES 2 ARGS AND RETURNS NON NULL VALUE
10. NULLIF(X,Y) -->TAKES 2 ARGS RETURNS NON NULL VALUE
    IFNULL(X,Y)
11. COS(X) /SIN(X)/ ----
12. COUNT(), COUNT(*) -->COUNTS NULL VALUE ALSO
13. CURRENT_DATE
14. CURRENT_TIMESTAMP
15. DATEPART --> ALLOWS TO RETRIEVE COMPONENT OF DATE
    DATEPART(YEAR,D), DATEPART(DAY,D)
    DAY(D), MONTH(D), YEAR(D)
    EXTRACT(YEAR FROM DATE), EXTRACT(DAY FROM DATE)

16. INSTR(S1,S2) --> RETURNS CHAR POSITION OF S2 IN S1
    INSTR('HELLO', 'LL') -->3
    SUBSTR('HELLO',2,3) -->ELL
    PATINDEX('%LL%','HELLO')-->3
    POSITION(S1 IN S2)

17. LEFT(S,N) --> LEFT('HELLO',3) --> HEL
    RIGHT(S,N)-->RIGHT('HELLO',3) -->OLL

18. LEN(S) , LENGTH(S)
19. MAX
20. MIN
21. MOD(A,B), A MOD B -->REMAINDER

22 +DATES, INTERVAL D+I
    DATE + I(DAY/MONTH/DAY) -->2024-09-09 +07
    CURR_DATE() - INTERVAL 3 YEAR
    QUARTER(d)

23 REPLACE('ABHA','A','E') --> EBHE
24 ROUND(DIGIT, DECIMAL)
25 TO_CHAR(DATE)
26 TRIM(D) -->REMOVE TRAILING AND LEADING SPACES


```

## 6.AGGREGATION

## 7.JOINS