<a href="https://colab.research.google.com/github/ShiviRaghu/sql/blob/main/SQL_CLASSES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL CLASSES SCHEDULE -


1. INTRO TO SQL - 14/04 done
2. CORE CONCEPTS OF SQL - 14/04
3. SELECT WHERE -15/04  
4. DOUBT CLASS -15/04
5. OPERATORS -16/04
6. AGGREGATION -16/17
7. ORDER OF EXECUTION -17
8. DOUBT CLASS -17
9. JOINS -18
10. SUBQUERIES -19
11. CTE'S -19
12. DOUBT CLASS -19
13. WINDOW FUNCTIONS -20
14. CONNECTING TO MULTIPLE DBS -20
15. SQL MANIPULATION -20
16. normalization  - 15
17. project -16

## INDEX
1. Intro to SQL
2. DATA TYPES AND CONSTRAINT
3. COMMANDS

## 1.INTRO TO SQL

### 1.1


1. **D.S** --> IN LAYMAN LANGUAGE ITS TO EXTACT MEANIGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS OR MAKE PREDICTION MODELS

2. **D.A** --> SUBSET OF D.S --> EXTRACT INF MEANIGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS
 EXTRACT INF  + PREDICTION MODELS = D.S

 EX --> ELECTION DATA TO PREDICT RESULTS, STARTUP DATA TO GIVE NEXT YEAR SALES

 THIS DATA NEEDS TO BE STORE SOMWHERE -->THAT PLACE IS CALLED AS **DATABASE**

3. **DATABASE** --> ORGANIZED COLLECTION OF DATA, WHICH ALLOW EASY ACCESS, MANAGEMENT,AND RETRIEVAL OF DATA, ITS LIKE DIGITAL FILLING CABINET

   Database is a storage system that has a collection of data. Relational databases store data in the form of tables that can be easily retrieved, managed and updated


    FE (OF COMAPNY)/ END USER ---> DBMS --> DB

4. **DBMS**  --> DATABASE MANAGEMENT SYSTEM - SPECIALIZED SOFTWARE
IT ACTS AS A BRIDGE BTW APP AND DB
IT HELP US TO CREATE DB, MANAGE DB, RETRIEVE, CONTROL THE FLOW OF UR DATA

  **IMP OF DBMS** --> 1. EFFICENCY OF DATA -CREATE DB, MANAGE DB, RETRIEVE, CONTROL THE FLOW OF UR DATA 2. IMPROVE DATA SHARING(N PEOPLE AT A TIME) 3. DATA INTEGRITY SECURITY

  DATA IS A PIECE OF INF - STR (TABULAR), UNSTR(PDF,MEDIA LOGS, WORDD FILES, JSON), SEMI STR(IMAGES, VIDEOS)

  **TYPES OF DBMS** -->
                        1.Relational Databases
                        2.Non-Relational Databases -NOSQL
                        3.Hierarchical -- IBM Inf management, window registry, no sql dbms
                        4.Network
                        5.Object oriented - postgres, informix
                        6.Columnar - cassandra,**amazon redshift, google bigquery, sap hana**
                        7.in memory - sap hana, oracle time
                        8.cloud base - aws, google cloud, azure sql
                        9.distributed - google spanner, cockroach db

 **Relational Databases (SQL)** -->These store data in tables (rows = records/ instance of data and columns=attributes) and maintain relationships between different tables using keys (Primary Key, Foreign Key).
 SQL is used to query and manipulate relational databases.Popular Relational Databases:- 1.MySQL -OPEN 2.PostgreSQL -- JSON ADVANCE INDEXING
 3.Microsoft SQL Server -OPEN 4.Oracle Database - LARGE

 **NON Relational Databases (NO SQL)** -->These (often referred to as NoSQL databases) do not follow a tabular structure. Instead, they store data in various formats such as key-value pairs, documents, graphs, or columns.
  
  NoSQL databases are more flexible and are often used when dealing with large volumes of unstructured or semi-structured data.
  
  **Popular Non-Relational Databases:** -->
                                             1.MongoDB (Document-based)
                                             2.Cassandra (Column-family based)
                                             3.Redis (Key-value store)
                                             4.Neo4j (Graph-based)
                                             
  **Relational vs. Non-Relational Databases** -->

  1.Data is stored in structured tables with relationships between different tables. || Data is stored in a flexible format (key-value pairs, documents, columns, etc.).

  2.Provides ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data reliability and integrity. ||
  Offers scalability and better performance for unstructured or semi-structured data.Provides BASE (Basically Available, Soft state, Eventual consistency) for high availability and distributed systems.

  3.fixed predefined schema || flexible schema

  4.SCALABILITY - VERTICAL scale up means adding more rows ||HORIZONTAL adding more columns is easy
  
  5.Suitable for complex querying and data analysis.More rigid schema with predefined structure. || Used for high-throughput, large datasets with simple queries.

  **ACID PROPERTIES** ---> transaction --one logical unit of work -add/delete of data
  1. Atomicity: Ensures all database transactions are fully completed or fully rolled back.
  2. Consistency: Ensures data remains in a valid state before and after transactions, across db
  3. Isolation: Ensures transactions occur independently.ex - 2 people booking seat
  4. Durability: Ensures data is permanently stored after a transaction.ex-seat book can't be lost if data is also deleted

  **BASE properties**:
  1. Basically Available: Ensures system availability even in case of failures.
  2. Soft State: The state of the system may change over time.
  3. Eventual Consistency: Ensures data consistency over time without strict transactional guarantees.
  
  **SQL vs. NoSQL**

  1.SQL (Relational Databases): -->Uses (SQL) for database interaction.
Suitable for applications where data relationships and integrity are crucial.

   NoSQL (Non-Relational Databases)
   No specific query language; interaction happens through APIs or other query models depending on the database (e.g., MongoDB uses MQL—Mongo Query Language).

 2.Requires a fixed schema, making it less flexible in terms of data structure. || Offers flexibility in schema design, allowing the data model to evolve over time.

 Ideal for high-velocity, high-volume data with minimal structure, such as real-time data processing or big data applications.

 **Components of RDBMS** --> 1.Tables 2.relationship btw tables 3.data integrity -constraints 4.normalization -its set of rules to organize data in a way that we have lesser duplicay or inconsistency. decomposing a big table into n small tables

### 1.2INTRO TO SQL


1. **SQL (Structured Query Language)** -->It is a powerful language used to communicate with and manage data stored in relational databases.

   It enables users to create, modify, and manipulate data structures and records.
   
   SQL is commonly employed to query, insert, update, and delete records, as well as to design and alter the database itself.
  
   With its versatility, SQL can handle complex queries and process large volumes of data, making it the most widely used language for managing databases across various applications.
   
2. **Functions of SQL:**
          1.Data Querying: Retrieve data from a database using the SELECT statement.
          2.Data Manipulation: Perform operations like inserting (INSERT), updating (UPDATE), and deleting (DELETE) data.
          3.Data Definition: Define the structure of a database using Data Definition Language (DDL) commands like CREATE, ALTER, and DROP.
          4.Data Control: Control access and permissions to data using Data Control Language (DCL) commands like GRANT and REVOKE.
'
3. **Importance of SQL:**
          1.Industry Standard: SQL is the most widely used database language across the globe.
          2.Scalability: SQL databases can handle a huge volume of data, making it essential for data-driven businesses and organizations.
          3.Cross-Platform Compatibility: SQL can be used on various platforms (Windows, Mac, Linux) and supports different database systems.
          4.Declarative Nature: SQL is a declarative language
          5.Data Integrity: SQL helps enforce data integrity and security with features like constraints (e.g., PRIMARY KEY, FOREIGN KEY) and permissions (DCL commands).

4. **Applications of SQL** -
          1.Data Storage: SQL is the standard language used to store and manipulate data in relational databases.
          2.Data Definition: SQL is used to create, alter, and manage the structure of database objects such as tables, indexes, and views.3.Data Retrieval: SQL allows users to query and filter data from one or more tables
          4.Data Manipulation: SQL can be used to update, insert, and delete records within a database.
          5.Data Security: SQL manages access controls, granting and revoking user permissions to maintain data security.
          6.Data Analysis: SQL supports data analysis by performing calculations, generating reports, and creating visualizations based on queried data.

5. **Advantages of SQL** -
          1.Ease of Use: SQL is user-friendly, with clear syntax
          2.Standardization: SQL is a standardized language, making it compatible with numerous database management systems.
          3.Scalability: SQL can handle large datasets and scale with growing business needs.
          4.Flexibility: SQL is highly adaptable, capable of handling both simple queries and complex data analysis.
          5.Security: SQL includes built-in security features
          6.Performance: SQL is optimized for performance, allowing for quick query execution and real-time data retrieval, making it a valuable tool for decision-making.

6. **Limitations of SQL** -
          1.Complexity: SQL can be difficult to learn, especially for beginners unfamiliar with database design and programming concepts.
          2.Limited Support for Non-Relational Data: SQL is specifically designed for relational databases, which may not be ideal for managing non-relational data formats like JSON or XML.
          3.Cost: Some SQL-based database management systems are expensive to license, particularly for large-scale enterprise applications.4.Scalability Challenges: Although SQL is scalable, managing very large datasets with a centralized architecture can pose challenges and lead to performance bottlenecks.
          5.Performance Issues with Large Datasets: SQL may experience performance degradation when handling exceptionally large datasets or highly complex queries, potentially impacting user experience.

## 2.DATA TYPES AND CONSTRAINTS

### DATA TYPES -

1. 2 Types of file imported in mysql -.sql and .csv
2. json -unstr -datatype, geo coordinates - geometry
3. Data types in SQL define the kind of values that can be stored in a column of a table.
4. They help maintain data integrity and ensure that the correct type of data is used for specific operations.

5. Categories of Data Types -
        Character Types (text)
        Numeric Types (number)
        Date/ Time Types (timestamp)
        Null Values
        Binary


**1. NUMERIC DATA TYPE - Integers and Decimals**

1. BIGINT - Large integers (8 bytes), +-9,223,372,036,854,775,808
  ex - ISBN storage in a library
2. INT - Standard integers (4 bytes), +-2,147,483,648 , ex -Number of available books
3. SMALLINT - Small integers (2 bytes),-32,768 to 32,767, ex -Book ratings (1-5 scale)
4. TINYINT- Very small integers (0-255) (1 bytes),0 to 255, ex -Page count in a pamphlet
5. Bit (w)- specify max number of bits (1-64)
6. Boolean - true or flase no size

**1.1.2 DECIMAL(w,d) - Fixed-point numbers - Stores fixed-point numbers.** , max(65,30), default (10,0)
Book price (e.g., ₹19.99)

**1.1.3 FLOAT or double - Approximate numbers** - can be written without
    precision, float(w,d) or float(p) p--> 0 to 24
    double(w,d) or double(p) p--> 25 to 53
    ex -Average book rating (4.25)

1.1.4 - real has less precision than float

> For numeric data type we have signed and unsigned values
SIGNED --> +,-,0  min -ve, max 0
UNSIGNED/ZERO FILL TAG --> 0 or +ve values, ex - int(10) value =5 then 00000000005

> **Autoincrement CN are by default unsigned allow fatser index**
ex - create table tn (id int signed /unsigned)
by default values are signed

**2. Character Data Types :-**

Character data types are used to store textual information. These types are essential when dealing with names, descriptions, and any form of alphanumeric data.

1. CHAR - Fixed-length non-Unicode characters.ex -A two-letter country code for book origins. 0-255
2. VARCHAR - Variable-length non-Unicode characters.ex -Book titles which can vary significantly in length.1-65535w
3. TEXT - Variable-length non-Unicode character data for large text, example: A book's synopsis.
4. NCHAR - Fixed-length Unicode characters(multi lang chars), ex-Book titles in different
5. NVARCHAR - Variable-length Unicode characters, ex- Author names that may include special characters.


**3. Date/Time Data Types :-**
Date and time data types allow you to store dates, times, or both.
1. DATE - Stores date values. YYYY-MM-DD
2. TIME - Stores time values. HH-MM-SS
3. DATETIME - 2023-10-09 10:30:00'
4. TIME STAMP - YYYY-MM-DD -HH-MM-SS
   
   CREATED_AT TIMESTAMP DEFAULT CURRENT_TIMESTAMP/NOW()
5. YEAR [2/4] YY/YYYY

**4. Binary Data Types:-**
Binary data types are used to store binary data, such as images, files, or multimedia content.

1. BINARY - Fixed-length binary data,Example: Cover images of books.
2. VARBINARY - Variable-length binary data, EX -Audio files for audiobooks.

**5. NULL Values:-**
NULL represents the absence of a value in a column. It is different from an empty string or zero because it explicitly indicates that no value has been provided.

  IFNULL(X,Y), COLAESECE(NULL,0)

**6. Special Data Types:-**
1. BLOB (Binary Large Objects) - large binary data, such as images, audio, or video files. It is particularly useful when dealing with multimedia content in a database.

2. ENUM/SET
ENUM: This data type allows you to define a column that can only **hold one value from a predefined list of options.**

 SET: This data type allows you to define a column that can **hold multiple values from a predefined list of options.**

 EX- ENUM('Fiction', 'Non-Fiction', 'Mystery', 'Science Fiction', 'Biography')

 EX - SET('Author1', 'Author2', 'Author3', 'Author4')



> Choosing the Right Data Type - Ensures data integrity, Optimizes storage efficiency,Enhances query performance,Consider the Nature of the Data:, Evaluate Data Size:, Anticipate Future Needs

### CONSTRAINTS -

 Ensure data accuracy & integrity by setting rules on columns.
 Can alter modify constraints if not given intable

1. PRIMARY KEY: Unique identifier --> NOT NULL +UNIQUE(e.g., BookID), ensures that no two rows have the same primary key value

  **1 table has only 1 primary key**

  **composite key** - primary key consist of more than 1 column

2. AUTO_INCREMENT: Auto-generates unique IDs,generally assigned to primary key for simplify assignment
3. NOT NULL: Prevents missing values (e.g., Book titles)
4. UNIQUE: Prevents duplicates (e.g., ISBN numbers)
5. FOREIGN KEY: Connect one table with another, column or columns which links to primary key of ither table, ensures every entry in foreign key is present in source table - primary key column
6. check - condition
7. default -set default if no value is added

  create table TN (
    empid int primary key,
    firstname varchar(10) not null,
    hiredate date,
    salary float check (salary >0)
    sex default neutral)

## 3.COMMANDS

### SQL COMMANDS

Types of SQL Commands -

1️⃣ DDL (Data Definition Language) – **Creates & modifies data objects - B, tbale, views, indexes, schemas**, all DDL commands are auto commited

	CREATE TABLE, ALTER TABLE, DROP TABLE, TRUNCATE, RENAME, COMMENT

2️⃣ DML (Data Manipulation Language) – Handles data
	INSERT, UPDATE, DELETE, SELECT

3️⃣ DCL (Data Control Language) – Manages permissions
	GRANT, REVOKE

4️⃣ TCL (Transaction Control Language) – Manages transactions
	COMMIT, ROLLBACK, SAVEPOINT, SET TRANSACTION

### DCL -
**1.1 CREATE**

1. CREATE DATABASE/SCHEMA DBNAME;
2. USE DBNAME;
3. SHOWTABLES ;
4. CREATE TABLE TN(CN DT(D.V))


**1.2 ALTER**

1. ALTER TABLE TN ADD CN DT;
2. ALTER TABLE TN MODIFY CN DT -- FOR MODIFYING DATA TYPE
3. ALTER TABLE TN DROP CN --DROP CN
4. ALTER TABLE TN ADD CONSTRAINT CONST_NAME UNIQUE(CN)
5. ALTER TABLE TN DROP CONSTRAINT CONST_NAME
6. ALTER TABLE TN DROP INDEX IDX_NAME
7. ALTER TABLE TN ADD P.KEY (CN) -- CN SHOULD BE NOT NULL
8. ALTER TABLE TN F.KEY(CN) REFRENCES TN(P.KEY CN)
9. ALTER TABLE TN DROP P.KEY/ DROP F.KEY
10. ALTER TABLE TN RENAME COLUMN CN1 TO CN2


**1.3 DROP TABLE - STRUCTURE +DATA**

1. DROP TABLE TN
2. DROP DB DB_NAME
3. CAN'T DROP COLUMN


**1.4 TRUNCATE - REMOVES DATA BUT STRUCTURE WILL REMAIN, FASTER THAN DELETE, CAN'T BE USED WITH WHERE CLAUSE**

1.  TRUCATE TABLE TN

**1.5 RENAME - TO NEW TABLE NAME, INDEX, CN ETC**

1. RENAME TABLE TN1 TO TN2
2. ALTER TABLE TN RENAME COLUMN CN1 TO CN2

1.6 COMMENT 'XYX'

### DML -

**1.1 INSERT**

1. INSERT **INTO** TN (CN1,---------------------CN) VALUES (V1,V2------)
2. INSERT INTO TN VALUES(V1-----)
3. MAINTAIN SEQUENCE, DEFAULT, '' FOR CHARS
4. TO INSERT DATA FROM 1 TABLE TO OTHER USING SELECT -
   
   INSERT INTO TARGET TABLE(CN1,---) SELECT CN1,-- FROM SOURCE TABLE WHERE;


**1.2 UPDATE**

1. UPDATE TN **SET** CN1 =V1, CN2=V2 ---------WHERE CONDITION

**1.3 DELETE**

1. DELETE **FROM** TN WHERE CONDITION
2. DELETE FROM TN  --------- ALL ROWS

**1.4 COPIES**

1. CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE;
2. COPY STRUCTURE - CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=0;
3. COPY DATA -CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=1;

In [ ]:
Data Control Language (DCL)
Data Control Language (DCL) is used to control access and manage user permissions within a database. It ensures data security and determines who can perform operations like data manipulation and retrieval.

GRANT: Assigns specific privileges (like SELECT, INSERT, UPDATE, DELETE) to users or roles.
REVOKE: Removes previously granted privileges from users or roles.
DCL ensures that only authorized individuals have access to sensitive data.

Transaction Control Language (TCL)
Transaction Control Language (TCL) manages database transactions, which are sequences of operations treated as a single unit of work. TCL commands ensure that changes made during a transaction are either fully applied or discarded if an error occurs.

COMMIT: Permanently saves changes made by DML operations.
ROLLBACK: Reverts the database to its previous state if something goes wrong during a transaction.
SAVEPOINT: Sets a point within a transaction that you can roll back to if needed.
TCL commands help maintain data integrity and consistency, especially during complex operations.

NOTE:

We'll dive deeper into DML, DCL, and TCL in upcoming lectures to explore their usage and practical applications in managing data and transactions within databases.

Related Blogs