<a href="https://colab.research.google.com/github/ShiviRaghu/sql/blob/main/SQL_CLASSES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL CLASSES SCHEDULE -

NOTES

1. INTRO TO SQL - 14/04 done
2. CORE CONCEPTS OF SQL  - done
3. SELECT WHERE - done
4. DOUBT CLASS
5. OPERATORS - DONE
6. AGGREGATION - DONE
7. **ORDER OF EXECUTION**
8. DOUBT CLASS
9. JOINS -DONE
10. SUBQUERIES -DONE
11. CTE'S - DONE
12. DOUBT CLASS
13. WINDOW FUNCTIONS - DONE
14. **CONNECTING TO MULTIPLE DBS**
15. SQL MANIPULATION -DONE
16. **normalization**
17. project

## 1.INTRO TO SQL

### INTRO

- DS - THESE ARE THE PROFESSIONALS WHO ARE SPECIALIZED IN ANALYSING AND INTERPRETING DATA, THEY USE SKILLS TO HELP ORGZ TO IMPROVE THEIR OPERATIONS, ANALYZE LARGE DATA SET AND FIND PATTERN and TRENDS

- DA VS DE VS DS
- DA - Analyse data, find trends and create reports to informed decision
  , skills -  stats, data visualize(powebi, tableau), sql, excel, python/r

- DE - develop, maintain, deploy, and optimize data structure and data pipelines, transform and transfer data for queries, skills - nosql, sql, pl - java, python, hadoop, apache, scala

- DS - Predictive models, M.L, STATS, Create insights and predicitive model for large data sets, skills - advance stats, M.L, D.L, P.L -PYTHON, Big data technquies, data visualiz, python , r , tensorflow, pytorch, spark, hadoop, sql db,


  LIFECYCLE -

  CAPTURE (data acquistion/extraction - raw/ unstr data )  -----> MAINTAIN(Data warehousing / cleaning/processig/ data arch) ---> PROCESS(DATA mining, clustering/ modelling/ summarizes/predictive analysis) -----> ANALYZE (Exploratory/ predictive/ regression/ mining) ----> COMMUNICATE(data reporting /visualize/ buisness intelligence)


  App of DS -
- VR, AR, Targeted advertising, speech recog, internet search, fraud detection, logistics, recommendation system, image recog, gaming , healthcare

  clone BD --> D-1 with access as per person

### 1.1 INTRO


1. **D.S** --> IN LAYMAN LANGUAGE ITS TO EXTACT MEANINGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS OR MAKE PREDICTION MODELS

2. **D.A** --> SUBSET OF D.S --> EXTRACT INF MEANIGFUL DATA AND GIVE BUISNESS/ USEFUL INSIGHTS
 EXTRACT INF  + PREDICTION MODELS = D.S

    EX --> ELECTION DATA TO PREDICT RESULTS, STARTUP DATA TO GIVE NEXT YEAR SALES

    THIS DATA NEEDS TO BE STORE SOMWHERE -->THAT PLACE IS CALLED AS **DATABASE**

3. **DATABASE** --> ORGANIZED COLLECTION OF DATA, WHICH ALLOW EASY ACCESS, MANAGEMENT,AND RETRIEVAL OF DATA, ITS LIKE DIGITAL FILLING CABINET

   Database is a storage system that has a collection of data. Relational databases store data in the form of tables that can be easily retrieved, managed and updated
   
   FE (OF COMAPNY)/ END USER ---> DBMS --> DB

4. **DBMS**  --> DATABASE MANAGEMENT SYSTEM - **SPECIALIZED SOFTWARE**
IT ACTS AS A BRIDGE BTW APP AND DB
IT HELP US TO **CREATE DB, MANAGE DB, RETRIEVE, CONTROL** THE FLOW OF UR DATA                                                              

   **IMP OF DBMS** -->
   
   1. EFFICENCY OF DATA -CREATE DB, MANAGE DB, RETRIEVE, CONTROL THE FLOW OF UR DATA
   2. IMPROVE DATA SHARING(N PEOPLE AT A TIME)
   3. DATA INTEGRITY, SECURITY

    DATA IS A PIECE OF INF - STR (TABULAR), UNSTR(PDF,MEDIA LOGS, WORD FILES, **JSON**), SEMI STR(IMAGES, VIDEOS)

    **TYPES OF DBMS** -->
                        
                        1.Relational Databases
                        2.Non-Relational Databases -NOSQL
                        3.Hierarchical -- IBM Inf management, window registry, no sql dbms
                        4.Network
                        5.Object oriented - postgres, informix
                        6.Columnar - cassandra,**amazon redshift, google bigquery, sap hana**
                        7.in memory - sap hana, oracle time
                        8.cloud base - aws, google cloud, azure sql
                        9.distributed - google spanner, cockroach db

  
   **Relational Databases (SQL)** -->These store data in tables (rows = records/ instance of data and columns=attributes) and maintain relationships between different tables using keys (Primary Key, Foreign Key).

   SQL is used to query and manipulate relational databases.
   
   ```
   Popular Relational Databases:-  
   1.MySQL -OPEN
   2.PostgreSQL -- JSON ,ADVANCE INDEXING, SQL
   3.Microsoft SQL Server -OPEN
   4.Oracle Database - LARGE
   ```

   ```
   use case-
   Banking & finance systems
   ERP / HR systems
   E-commerce orders & payments
   ```

   **NON Relational Databases (NO SQL)** -->These (often referred to as NoSQL databases) do not follow a tabular structure. Instead, they store data in various formats such as key-value pairs, documents, graphs, or columns.
  
   NoSQL databases are more flexible and are often used when dealing with large volumes of unstructured or semi-structured data.
  
   **Popular Non-Relational Databases:** -->

                                             1.MongoDB (Document-based,json,xml)
                                             2.Cassandra (Column-family based)
                                             3.Redis (Key-value store)
                                             4.Neo4j (Graph-based)
                                             
   **Relational vs. Non-Relational Databases** -->

   1.Data is stored in structured tables with relationships between different tables. || Data is stored in a flexible format (key-value pairs, documents, columns, etc.).

   2.Provides ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data reliability and integrity. ||
   Offers scalability and better performance for unstructured or semi-structured data.Provides BASE (Basically Available, Soft state, Eventual consistency) for high availability and distributed systems.

   3.fixed predefined schema || flexible schema

   4.SCALABILITY - VERTICAL scale up means adding more rows ||HORIZONTAL adding more columns is easy
  
   5.Suitable for complex querying and data analysis.More rigid schema with predefined structure. || Used for high-Speed data processing, large datasets with simple queries.

   transaction support -->**ACID PROPERTIES** ---> --one logical unit of work -add/delete of data
   1. Atomicity: Ensures all database transactions are fully completed or fully rolled back.
   2. Consistency: Ensures data remains in a valid state before and after transactions, across db
   3. Isolation: Ensures transactions occur independently.ex - 2 people booking seat, added or deleting rows
   4. Durability: Ensures data is permanently stored after a transaction.ex-seat book can't be lost if data is also deleted

   **BASE properties**:
   1. Basically Available: Ensures system availability even in case of failures.
   2. Soft State: The state of the system may change over time.
   3. Eventual Consistency: Ensures data consistency over time without strict transactional guarantees.
  
   **SQL vs. NoSQL**

   1.SQL (Relational Databases): -->Uses (SQL) for database interaction.
   Suitable for applications where data relationships and integrity are crucial.

   NoSQL (Non-Relational Databases)
   No specific query language; interaction happens through APIs or other query models depending on the database (e.g., MongoDB uses MQL—Mongo Query Language).

   2.Requires a fixed schema, making it less flexible in terms of data structure. || Offers flexibility in schema design, allowing the data model to evolve over time.

   Ideal for high-velocity, high-volume data with minimal structure, such as real-time data processing or big data applications.

   **Components of RDBMS** -->
   
   1.Tables
   2.relationship btw tables
   3.data integrity -constraints
   4.normalization -its set of rules to organize data in a way that we have lesser duplicay or inconsistency.
   decomposing a big table into n small tables

### 1.2INTRO TO SQL


1. **SQL (Structured Query Language)** -->It is a powerful language used to communicate with and manage data stored in relational databases.

   It enables users to create, modify, and manipulate data structures and records.
   
   SQL is commonly employed to query, insert, update, and delete records, as well as to design and alter the database itself.
  
   With its versatility, SQL can handle complex queries and process large volumes of data, making it the most widely used language for managing databases across various applications.
   
2. **Functions of SQL:**
          
          1.Data Querying: Retrieve data from a database using the SELECT statement.
          2.Data Manipulation: Perform operations like inserting (INSERT), updating (UPDATE), and deleting (DELETE) data.
          3.Data Definition: Define the structure of a database using Data Definition Language (DDL) commands like CREATE, ALTER, and DROP.
          4.Data Control: Control access and permissions to data using Data Control Language (DCL) commands like GRANT and REVOKE.
'
3. **Importance of SQL:**
         
          1.Industry Standard: SQL is the most widely used database language across the globe.
          2.Scalability: SQL databases can handle a huge volume of data, making it essential for data-driven businesses and organizations.
          3.Cross-Platform Compatibility: SQL can be used on various platforms (Windows, Mac, Linux) and supports different database systems.
          4.Declarative Nature: SQL is a declarative language
          5.Data Integrity: SQL helps enforce data integrity and security with features like constraints (e.g., PRIMARY KEY, FOREIGN KEY) and permissions (DCL commands).

4. **Applications of SQL** -
         
          1.Data Storage: SQL is the standard language used to store and manipulate data in relational databases.
          2.Data Definition: SQL is used to create, alter, and manage the structure of database objects such as tables, indexes, and views.3.Data Retrieval: SQL allows users to query and filter data from one or more tables
          4.Data Manipulation: SQL can be used to update, insert, and delete records within a database.
          5.Data Security: SQL manages access controls, granting and revoking user permissions to maintain data security.
          6.Data Analysis: SQL supports data analysis by performing calculations, generating reports, and creating visualizations based on queried data.

5. **Advantages of SQL** -
          
          1.Ease of Use: SQL is user-friendly, with clear syntax
          2.Standardization: SQL is a standardized language, making it compatible with numerous database management systems.
          3.Scalability: SQL can handle large datasets and scale with growing business needs.
          4.Flexibility: SQL is highly adaptable, capable of handling both simple queries and complex data analysis.
          5.Security: SQL includes built-in security features
          6.Performance: SQL is optimized for performance, allowing for quick query execution and real-time data retrieval, making it a valuable tool for decision-making.

6. **Limitations of SQL** -
         
          1.Complexity: SQL can be difficult to learn, especially for beginners unfamiliar with database design and programming concepts.
          2.Limited Support for Non-Relational Data: SQL is specifically designed for relational databases, which may not be ideal for managing non-relational data formats like JSON or XML.
          3.Cost: hire D.A to write optimize code, reduce cost
          Some SQL-based database management systems are expensive to license, particularly for large-scale enterprise applications.4.Scalability Challenges: Although SQL is scalable, managing very large datasets with a centralized architecture can pose challenges and lead to performance bottlenecks.
          5.Performance Issues with Large Datasets: SQL may experience performance degradation when handling exceptionally large datasets or highly complex queries, potentially impacting user experience.

## 2.DATA TYPES AND CONSTRAINTS

### DATA TYPES -

1. 2 Types of file imported in mysql -.sql and .csv
 rifgt click db , import table wizard
2. json -unstr -datatype, geo coordinates - geometry
3. Data types in SQL define the kind of values that can be stored in a column of a table.
4. They help maintain data integrity and ensure that the correct type of data is used for specific operations.

5. Categories of Data Types -
        Character Types (text)
        Numeric Types (number)
        Date/ Time Types (timestamp)
        Null Values
        Binary


**1. NUMERIC DATA TYPE - Integers and Decimals**

1. BIGINT - Large integers (8 bytes), +-9,223,372,036,854,775,808
  ex - ISBN storage in a library
2. INT - Standard integers (4 bytes), +-2,147,483,648 , ex -Number of available books
3. SMALLINT - Small integers (2 bytes),-32,768 to 32,767, ex -Book ratings (1-5 scale)
4. TINYINT- Very small integers (0-255) (1 bytes),0 to 255, ex -Page count in a pamphlet
5. Bit (w)- specify max number of bits (1-64)
6. Boolean - true or flase no size

**1.1.2 DECIMAL(w,d) - Fixed-point numbers - Stores fixed-point numbers.** , max(65,30), default (10,0)
Book price (e.g., ₹19.99)

```
DECIMAL(M, D)
M → Total number of digits (precision)
D → Number of digits after the decimal point (scale)

salary DECIMAL(8,2)
Total digits = 8
Decimal digits = 2
Example values:
123456.78 ✅
999999.99 ✅
1234567.89 ❌ (too many digits)
```

**1.1.3 FLOAT or double - Approximate numbers** - can be written without
    precision, float(w,d) or float(p) p--> 0 to 24
    double(w,d) or double(p) p--> 25 to 53
    ex -Average book rating (4.25)

| Feature   | FLOAT           | DOUBLE          |
| --------- | --------------- | --------------- |
| Storage   | 4 bytes         | 8 bytes         |
| Precision | ~7 digits       | ~15 digits      |
| Accuracy  | Less            | More            |
| Speed     | Slightly faster | Slightly slower |

**1.1.4 - real has less precision than float**

> For numeric data type we have signed and unsigned values
SIGNED --> +,-,0  min -ve, max 0
UNSIGNED/ZERO FILL TAG --> 0 or +ve values, ex - int(10) value =5 then 00000000005

> **Autoincrement CN are by default unsigned allow fatser index**
ex - create table tn (id int signed /unsigned)
by default values are signed

**2. Character Data Types :-**

Character data types are used to store textual information. These types are essential when dealing with names, descriptions, and any form of alphanumeric data.

1. CHAR - Fixed-length non-Unicode characters.ex -A two-letter country code for book origins. 0-255
2. VARCHAR - Variable-length non-Unicode characters.ex -Book titles which can vary significantly in length.1-65535w
3. TEXT - Variable-length non-Unicode character data for large text, example: A book's synopsis.
4. NCHAR - Fixed-length Unicode characters(multi lang chars), ex-Book titles in different
5. NVARCHAR - Variable-length Unicode characters, ex- Author names that may include special characters.


**3. Date/Time Data Types :-**
Date and time data types allow you to store dates, times, or both.
1. DATE - Stores date values. YYYY-MM-DD
2. TIME - Stores time values. HH-MM-SS
3. DATETIME - 2023-10-09 10:30:00'
4. TIME STAMP - YYYY-MM-DD -HH-MM-SS
   
   CREATED_AT TIMESTAMP DEFAULT CURRENT_TIMESTAMP/NOW()
5. YEAR [2/4] YY/YYYY

**4. Binary Data Types:-**
Binary data types are used to store binary data, such as images, files, or multimedia content.

1. BINARY - Fixed-length binary data,Example: Cover images of books.
2. VARBINARY - Variable-length binary data, EX -Audio files for audiobooks.

**5. NULL Values:-**
NULL represents the absence of a value in a column. It is different from an empty string or zero because it explicitly indicates that no value has been provided.

  IFNULL(X,Y), COLAESECE(NULL,0)

**6. Special Data Types:-**
1. BLOB (Binary Large Objects) - large binary data, such as images, audio, or video files. It is particularly useful when dealing with multimedia content in a database.

2. ENUM/SET
ENUM: This data type allows you to define a column that can only **hold one value from a predefined list of options.**

   SET: This data type allows you to define a column that can **hold multiple values from a predefined list of options.**

   EX- ENUM('Fiction', 'Non-Fiction', 'Mystery', 'Science Fiction', 'Biography')

   EX - SET('Author1', 'Author2', 'Author3', 'Author4')



> Choosing the Right Data Type - Ensures data integrity, Optimizes storage efficiency,Enhances query performance,Consider the Nature of the Data:, Evaluate Data Size:, Anticipate Future Needs

### CONSTRAINTS -

 Ensure data accuracy & integrity by setting rules on columns.
 Can alter modify constraints if not given intable

1. PRIMARY KEY: Unique identifier --> NOT NULL +UNIQUE(e.g., BookID), ensures that no two rows have the same primary key value

  **1 table has only 1 primary key**

  **composite key** - primary key consist of more than 1 column

2. AUTO_INCREMENT: Auto-generates unique IDs,generally assigned to primary key for simplify assignment
3. NOT NULL: Prevents missing values (e.g., Book titles)
4. UNIQUE: Prevents duplicates (e.g., ISBN numbers)
5. FOREIGN KEY: Connect one table with another, column or columns which links to primary key of ither table, ensures every entry in foreign key is present in source table - primary key column
6. check - condition
7. default -set default if no value is added -- column property

 ```
 create table TN (
    empid int primary key,
    firstname varchar(10) not null,
    hiredate date,
    salary float check (salary >0)
    sex default neutral)
```

| Constraint  | Can use `ADD CONSTRAINT`?  |
| ----------- | -------------------------- |
| PRIMARY KEY | ✅                          |
| UNIQUE      | ✅                          |
| FOREIGN KEY | ✅                          |
| CHECK       | ✅                          |
| NOT NULL    | ❌                          |
| DEFAULT     | ❌ *(✅ only in SQL Server)* |

In [ ]:
use dbname;
show tables;
describe table tbl_name;
describe tbl_name;
SHOW CREATE TABLE orders;

## 3.COMMANDS

### SQL COMMANDS

Types of SQL Commands -

1️⃣ DDL (Data Definition Language) – **Creates & modifies data objects - B, tbale, views, indexes, schemas**, all DDL commands are auto commited - at table level

	CREATE TABLE, ALTER TABLE, DROP TABLE, TRUNCATE, RENAME, COMMENT

2️⃣ DML (Data Manipulation Language) – Handles data - at row level
	INSERT, UPDATE, DELETE, SELECT

3️⃣ DCL (Data Control Language) – Manages permissions
	GRANT, REVOKE

4️⃣ TCL (Transaction Control Language) – Manages transactions
	COMMIT, ROLLBACK, SAVEPOINT, SET TRANSACTION

differnce btw db and schema

| Feature        | Database                 | Schema            |
| -------------- | ------------------------ | ----------------- |
| Level          | Top-level container      | Inside a database |
| Purpose        | Store all data & objects | Organize objects  |
| Count          | Usually fewer            | Many per database |
| Access control | Broad                    | Fine-grained      |
| Example        | `company`                | `hr`, `sales`     |

### **1.DDL -**
**1.1 CREATE**

1. CREATE DATABASE/SCHEMA DBNAME;
2. USE DBNAME;
3. SHOWTABLES ;
4. CREATE TABLE TN(CN DT(D.V))
5. SHOW CREATE TABLE p2;


**1.2 ALTER**

1. ALTER TABLE TN ADD CN DT;
2. ALTER TABLE TN MODIFY CN DT -- FOR MODIFYING DATA TYPE
3. ALTER TABLE TN DROP CN --DROP CN
4. ALTER TABLE TN ADD CONSTRAINT CONST_NAME UNIQUE(CN)
5. ALTER TABLE TN DROP CONSTRAINT CONST_NAME
6. ALTER TABLE TN DROP INDEX IDX_NAME
7. ALTER TABLE TN ADD P.KEY (CN) -- CN SHOULD BE NOT NULL
8. ALTER TABLE TN F.KEY(CN) REFRENCES TN(P.KEY CN)
9. ALTER TABLE TN DROP P.KEY/ DROP F.KEY
10. ALTER TABLE TN RENAME COLUMN CN1 TO CN2


**1.3 DROP TABLE - STRUCTURE +DATA**

1. DROP TABLE TN
2. DROP DB DB_NAME
3. CAN'T DROP COLUMN


**1.4 TRUNCATE - REMOVES DATA BUT STRUCTURE WILL REMAIN, FASTER THAN DELETE, CAN'T BE USED WITH WHERE CLAUSE**

1.  TRUCATE TABLE TN

**1.5 RENAME - TO NEW TABLE NAME, INDEX, CN ETC**

1. RENAME TABLE TN1 TO TN2
2. ALTER TABLE TN RENAME COLUMN CN1 TO CN2

1.6 COMMENT 'XYX'

### **2.DML -**

**1.1 INSERT**

1. INSERT **INTO** TN (CN1,---------------------CN) VALUES (V1,V2------)
2. INSERT INTO TN VALUES(V1-----)
3. MAINTAIN SEQUENCE, DEFAULT, '' FOR CHARS
4. TO INSERT DATA FROM 1 TABLE TO OTHER USING SELECT -
   
   INSERT INTO TARGET TABLE(CN1,---) SELECT CN1,-- FROM SOURCE TABLE WHERE;


**1.2 UPDATE**

1. UPDATE TN **SET** CN1 =V1, CN2=V2 ---------WHERE CONDITION

**1.3 DELETE**

1. DELETE **FROM** TN WHERE CONDITION
2. DELETE FROM TN  --------- ALL ROWS

**1.4 COPIES**

1. CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE;
2. COPY STRUCTURE - CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=0;
3. COPY DATA -CREATE TABLE TN2  **AS** SELECT * FROM TN1 WHERE 1=1;

### 3.DCL -

**3. Data Control Language (DCL)** - Used to control access and manage user permissions within a database.

GRANT: Assigns specific privileges (like SELECT, INSERT, UPDATE, DELETE) to users or roles

grant select, update on my_table to u1,u2------

REVOKE: Removes previously granted privileges from users or roles.

revoke select, update on my_table from u1,u2------



**4. Transaction Control Language (TCL)** - TCL manages database transactions, which are sequences of operations treated as a single unit of work.

TCL commands ensure that changes made during a transaction are either fully applied or discarded if an error occurs.

COMMIT: Permanently saves changes made by DML operations.

ROLLBACK: Reverts the database to its previous state if something goes wrong during a transaction.

SAVEPOINT: Sets a point within a transaction that you can roll back to if needed.
savepoint save_point_name

### SELECT-WHERE

The SELECT statement in SQL is used to retrieve data from a database.

1. SELECT column1, column2, ...FROM table_name;
2. SELECT column1, column2, ...FROM table_name where CN >=<;

3. ```
        Conditions:
        = : Equal to
        <> or != : Not equal to
        > : Greater than
        < : Less than
        >= : Greater than or equal to
        <= : Less than or equal to
        BETWEEN : Between a range of values
        LIKE : Search for a pattern in strings
        IN : Match any value in a list
        IS NULL : Check if a value is NULL
```
4. AND
5. OR
6. () --> use to group values together
SELECT column1, column2, ...FROM table_name where (cn1=v1 and cn2=v2) or (cn1=v1 and cn2=v2)

### Select statements

1. **ORDER BY**  - is used to sort the result set in either ascending or descending order.

Syntax:

SELECT column1, column2, ...FROM table_name **ORDER BY column1 [ASC|DESC];**

with multiple columns - 1st sort by 1st cn, then if 1st has same value, then sort by second


SELECT column1, column2, ...
FROM table_name
ORDER BY column1 [ASC|DESC], column2 [ASC|DESC], ...;


2. **Alias** -Is used to rename a column or table within a query result. The alias is a temporary name that only exists for the duration of the query.


SELECT column_name AS alias_name FROM table_name;

Select a.cn1, a.cn2 from tn1 as a, tn2 as b where
a.cn1 = b.cn1


3. **LIMIT AND OFFSET -**

The LIMIT and OFFSET clauses are used to restrict the number of rows returned by a query. These are useful for pagination or when you only need a subset of the results.

LIMIT: Restricts the number of rows returned.

OFFSET: Skips a specific number of rows before starting to return rows.

SELECT column1, column2, ...FROM table_name LIMIT number_of_rows OFFSET skip_rows;

4. **Edge Cases for LIMIT and OFFSET**

 1. Performance Issues with large OFFSET
 2. Inconsistent Results on Dynamic Datasets - Data Changes During Pagination:

    If the underlying dataset changes (e.g., rows are inserted or deleted) while the user is paginating through results, the results may become inconsistent.

  3. Non-Deterministic Ordering - Lack of Unique Ordering, Without a unique identifier for ordering, the result set may be unpredictable.

  4. Alternative Approaches for Pagination-
  Keyset Pagination:

    For large datasets, consider using keyset pagination instead of OFFSET.
    
    This approach relies on a unique key to fetch the next set of results and avoids the performance penalties associated with large offsets.

## 4.SQL DATA MANIPULATION -

### DATA MANIPULATION -

1.  CREATE TABLE employees (
     employee_id INT PRIMARY KEY,
     first_name VARCHAR(50) NOT NULL,
     last_name VARCHAR(50) NOT NULL,
     hire_date DATE,
     salary FLOAT CHECK (salary > 0),
     department_id INT,
     FOREIGN KEY (department_id) REFERENCES departments(department_id)
);


2. Hierarchical data

   CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    manager_id INT,
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
);

3. Transactions in SQL -
It is a sequence of one or more SQL operations that are treated as a single unit of work.

   Transactions help ensure data consistency and integrity

  Importance- they are essential for maintaining data integrity in the event of system crashes, errors, or other failures.
  
  By using transactions -Ensure that a group of related operations is either fully completed or not applied at all.
  
  Transactions follow the ACID properties, which ensure reliability:

```
-- Start a transaction
BEGIN TRANSACTION;

-- Debit Account_A
UPDATE accounts
SET balance = balance - 500
WHERE account_id = 1;

-- Credit Account_B
UPDATE accounts
SET balance = balance + 500
WHERE account_id = 2;

-- If both operations are successful, commit the transaction
COMMIT;


-- in case of failure
ROLLBACK;
```

### INDEXES -

1. In SQL, an index is a **database object** that significantly improves the speed of data retrieval operations **by creating a data structure that holds pointers to rows in a table.**

 Just like an index in a book helps you quickly find a topic by pointing to the pages where it's discussed, an SQL index points to the location of data within a table, enabling faster query performance.

2. How Does an Index Work? - An index works by creating an **ordered data structure (usually a B-Tree)** that allows the database to quickly locate the row or rows that match a specific query condition.

 Instead of scanning the entire table row by row (which is known as a full table scan), the database can use the index to jump to the location of the required rows more efficiently.

 Analogy:Index created in the book

3. How SQL Indexes are Implemented- Most relational databases implement indexes using a B-Tree or B+Tree data structure.

  This tree structure allows for **logarithmic time complexity (O(log n))** when searching for data, which is much faster than a full table scan, especially as the size of the table grows.

  Example of a B-Tree Structure:

  Nodes: Each node in the B-Tree represents a range of values.

  Pointers: The B-Tree stores pointers to the actual rows in the table.

  Ordering: The tree is kept in a sorted order, making it easy to traverse.
  
  When a query is executed, the database engine uses the index to navigate the tree and quickly find the required rows, reducing the number of disk accesses needed to retrieve the data.

4. Why Are Indexes Important?
Indexes are critical for improving the performance of queries, especially in large databases.

 Without indexes, SQL queries that involve searching (WHERE clause), sorting (ORDER BY), or joining (JOIN clauses) would require the database to scan every row in the table, which can be extremely slow when dealing with large amounts of data.

5. **Types of Indexes in SQL**

 1.Single-Column Index: -

 **CREATE INDEX idx_name ON employees (LastName);**

 2.Composite Index (Multi-Column Index): An index created on two or more columns in a table.
It improves the performance of queries that filter data based on multiple columns.

 **CREATE INDEX idx_name_department ON employees (LastName, Department);**

 3.Unique Index: - Ensures that the values in the indexed column(s) are unique, preventing duplicate values.
This is **automatically created for primary key constraints, but can also be defined explicitly.**

 **CREATE UNIQUE INDEX idx_unique_email ON employees (Email);**

 4.Full-Text Index - Specialized index used for text-based searches in large text fields.

 It’s useful for queries that search for keywords in large text columns, such as product descriptions.

 **CREATE FULLTEXT INDEX idx_description ON products (Description);**

5. ```  
    CREATE TABLE employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);


   CREATE INDEX idx_lastname ON employees (LastName);
   SELECT * FROM employees WHERE LastName = 'Smith';


 ```
 Here are some scenarios where using an index is beneficial:

 Queries with WHERE clauses

 Sorting results: When using ORDER BY to sort query results, an index can speed up the sorting process.

 SELECT * FROM employees ORDER BY LastName;

 Joins between tables:
 ```


7.**Performance** Considerations -

 1.While indexes improve query performance, they come with trade-offs. Specifically, i**ndexes can slow down data modification operations like INSERT, UPDATE, and DELETE,** because the index itself needs to be updated each time data in the indexed column changes.

 2.take up disk space, and creating too many indexes
can consume more storage. It's important to balance the need for faster queries with the overhead of maintaining indexes.

 3.Maintaining Indexes
Dropping an Index: If an index is no longer needed or is causing performance issues, it can be dropped with the following statement:

 **DROP INDEX idx_name ON employees;**

 4.Rebuilding an Index: Over time, indexes can become fragmented due to data modifications. To maintain optimal performance, it's important to periodically rebuild or reorganize indexes.

 This process reorders the data in the index to improve efficiency.

 **ALTER INDEX idx_lastname ON employees REBUILD;**


8. **Disadvantages of Indexing**

 1.Slower Data Modifications:

 2.Storage Requirements

 3.Overhead for Unused Indexes:


9. **Best Practices for Indexing**

 1.Index selective columns: Create indexes on columns that are used frequently in WHERE or JOIN clauses and have high selectivity (i.e., many unique values).

 2.Avoid over-indexing

 3.Monitor index usage

### **VIEWS**

1. **View** in SQL is a virtual table that is based on the result of a SELECT query.

 It does not store data itself, but rather, it dynamically retrieves data from one or more underlying tables each time it is queried.

 Views allow users to simplify complex queries, hide data complexity, and control access to specific data without altering the original tables.

2. **Key Characteristics of Views:**

 1.Virtual Table: A view is not a physical table; it does not store data. It only stores the SQL query used to generate the data.

 2.Dynamic Data: Data in a view is dynamic and reflects the changes made in the underlying tables.

 3.Simplification: Views can simplify complex queries by abstracting the SQL query logic.

 4.Security: Views can restrict access to specific rows and columns, allowing users to see only the data they need.

 **CREATE VIEW view_name AS SELECT column1, column2, ...FROM table_name WHERE condition;**

 CREATE VIEW employee_salaries AS SELECT FirstName, LastName, Salary FROM employees;

3. **Types of Views:**

  1.Simple View: Based on a single table without any functions or joins.

  2.Complex View: Involves multiple tables and can include joins, group functions, or subqueries.

4. **Advantages of Views:**

   Simplified Queries: Complex SQL logic can be encapsulated in a view.

   Data Security: Users can be restricted to specific data by allowing access only through views.
   
   Data Abstraction: Views provide a layer of abstraction between users and the actual table structure.

5. **Limitations:**

   No Data Storage: Since views don't store data, querying a view may be slower if the underlying query is complex.

   Non-Updateable Views: In some cases, especially with complex views involving joins or group functions, views may not be updateable, meaning you cannot modify data through the view.

   Modifying Data Through a View: - If the view is based on a single table without joins, and includes all required columns, you can INSERT, UPDATE, or DELETE data through the view, which will affect the underlying table.

### **ERROR HANDLING**

 Errors can occur during data manipulation for various reasons, such as constraint violations, incorrect data types, or insufficient permissions.

 It is important to handle these errors gracefully to maintain data integrity and ensure the correct functioning of the application.

1. Try-Catch Blocks (In Procedural SQL) -
 Example of Error Handling in SQL Server:


    BEGIN TRY
    BEGIN TRANSACTION;

    -- Insert operation
    INSERT INTO employees (employee_id, name, salary)
    VALUES (10, 'John Doe', 50000);

    -- Commit the transaction if no errors
    COMMIT;

    END TRY
    BEGIN CATCH
    -- If an error occurs, rollback the transaction
    ROLLBACK;

    -- Return the error message
    PRINT ERROR_MESSAGE();

    END CATCH;


Example:

    BEGIN TRANSACTION;
    
    -- Attempt to update a record
    
    UPDATE employees SET salary = salary * 1.10 WHERE employee_id = 5;

    -- Check if the update was successful
    IF @@ERROR <> 0
    BEGIN
    -- Rollback the transaction if there is an error
    ROLLBACK;
    END
    ELSE
    BEGIN
    -- Commit the transaction if no error
    COMMIT;
    END;


2. Common Causes of Errors During Data Manipulation -
    1.Constraint Violations
    2.Data Type Mismatches:
    3.Null Values:
    4.Insufficient Permissions:

3. Best Practices for Error Handling
1.Validate Data Before Inserting or Updating:
2.Use Transactions for Critical Operations:
3.Use ROLLBACK on Errors:
4.Log Errors:

## 5.OPERATORS

### OPERATORS

1. Arithmetic Operators - These operators can be used in SELECT, WHERE, UPDATE, and other SQL clauses where numeric operations are necessary.

```
+,- ,*, %
```

2. Comparison Operators -
```
=, <, >,<=, >= ,!=
```

3. Logical Operators / Conjunctive
```
AND, OR, NOT (where not cn ='v')
```

4. Set Operators - all cn and data type should be same

 1.UNION - Combines the result sets of two or more queries and removes duplicates.
```
SELECT City FROM Users UNION SELECT City FROM Employees;
```
 2.UNION ALL - Combines the result sets of two or more queries without removing duplicates.
```
SELECT City FROM Users UNION ALL SELECT City FROM Employees;
```

 3.INTERSECT - Returns only the rows that are common between the two result sets.
```
SELECT City FROM Users INTERSECT SELECT City FROM Employees;
```

 4.EXCEPT- Returns the rows from the first query that are not present in the second query
```
SELECT City FROM Users EXCEPT SELECT City FROM Employees;
```


5. Other Operators

 1.IN Operator - IN operator allows you to specify multiple values in a WHERE clause. It is a shorthand for multiple OR conditions.

 >SELECT * FROM dataset WHERE City IN ('Delhi', 'Mumbai', 'Chennai');

 >SELECT * FROM dataset WHERE City NOT IN ('Delhi', 'Mumbai', 'Chennai');

 2.BETWEEN Operator -selects values within a specified range. The values can be numbers, text, or dates.
 >SELECT * FROM dataset WHERE Salary BETWEEN 40000 AND 80000;

 3.IS NULL / IS NOT NULL - These operators are used to check whether a column has a NULL value or not.
 >SELECT * FROM dataset WHERE Salary IS NULL;

 >SELECT * FROM dataset WHERE JoinDate IS NOT NULL;

 4.EXISTS Operator - The EXISTS operator is used to test for the existence of any records in a subquery. It returns TRUE if the subquery returns at least one row.
 >SELECT * FROM dataset WHERE EXISTS (SELECT 1 FROM dataset WHERE City = 'Delhi');

6. String Operators

 1.Concatenation Operator (||)
 >SELECT City || ' - ' || Department AS LocationAndDept FROM dataset;

 2.UPPER/ LOWER
 >SELECT UPPER(Name) AS UppercaseName FROM dataset;

 3.EXTRACT
 >SELECT SUBSTRING(JoinDate, 1, 7) AS YearMonth FROM dataset;


7. LIKE OPERATOR -The LIKE operator is used for pattern matching in strings. It is commonly used with wildcard characters (% and _).

 Wildcards:
  %: Represents zero or more characters / * in MS

  _: Represents a single character. / ? in  MS

 Find users whose Name starts with any vowel:
 >SELECT * FROM dataset WHERE Name LIKE '[AEIOUaeiou]%';

 Find users whose Name does not start with a vowel:
 >SELECT * FROM dataset WHERE Name LIKE '[^AEIOUaeiou]%';

 ```
 start with x --> 'x%'
 end with x --> '%x'
 x at any position -->'%x%'
 xy at  2nd and 3rd position --> '_xy%'
 start with x and atleast 3 char in length --> 'x_%_%
 x at 2nd and end with y --> '_x%y'
 ```

 ```
 select top n% from tn where
 select * from tn limit n
 select * from tn where rownum <=n
 ```

### FUNCTIONS



```
1. ABS --> absolute value of +ve
2. AVG(CN)
3. CONCAT (cn1,'',cn2)
   ( CN1||' '||CN2) -- works in postgres
4. CONCAT_WS (seperator, cn1, cn2 ) -->WORK WITH NOT NULL VALUES, ADD SEPERATOR,Skips NULL values
5  CASE
     WHEN CONDITION THEN VAL1
     WHEN CONDITION THEN VAL2
   ELSE DEF VALUE
   END as cname / end = value
6. CAST --> ALLOW CONVERT TO 1 TYPE TO OTHER
7. CIEL (F) -->RETURNS VALUE IN INTEGER EQUAL OR MORE THAN X
   CIEL(-2.3) -->-2
   CIEL(2.3)  --->3
7. FLOOR (F) -->RETURNS VALUE IN INTEGER EQUAL OR LESS THAN X
   FLOOR(-2.3) -->-3
   FLOOR(2.3)  --->2

8. COALESCE (X,Y,Z) -->TAKES NO. OF ARGS AND RETURNS FIRST NON NULL VALUE
9. NVL (X,Y) -->TAKES 2 ARGS AND RETURNS NON NULL VALUE
10. NULLIF(X,Y) --> when x=y returns null
    IFNULL(X,Y) -->TAKES 2 ARGS RETURNS NON NULL VALUE

| Function | Args     | Returns        | Works In|
| -------- | -------- | -------------- | ------------- |
| COALESCE | Multiple | First non-null | All major DBs |
| NVL      | 2        | Non-null value | Oracle        |
| IFNULL   | 2        | Non-null value | MySQL         |
| NULLIF   | 2        | NULL if equal  | All major DBs |



11. COS(X) /SIN(X)/ ----
12. COUNT() --> NOT NULL VALUES, COUNT(*) -->COUNTS NULL VALUE ALSO
13. CURRENT_DATE
14. CURRENT_TIMESTAMP

16. INSTR(S1,S2) --> RETURNS CHAR POSITION OF S2 IN S1
    INSTR('HELLO', 'LL') -->3
    SUBSTR('HELLO',2,3) -->ELL
    PATINDEX('%LL%','HELLO')-->3
    POSITION(S1 IN S2)

17. LEFT(S,N) --> LEFT('HELLO',3) --> HEL
    RIGHT(S,N)-->RIGHT('HELLO',3) -->OLL

18. LEN(S) , LENGTH(S)
19. MAX
20. MIN
21. MOD(A,B), A MOD B -->REMAINDER


23 REPLACE('ABHA','A','E') --> EBHE
24 ROUND(DIGIT, DECIMAL)
25 TO_CHAR(DATE)
26 TRIM(D) -->REMOVE TRAILING AND LEADING SPACES

15. DATEPART --> ALLOWS TO RETRIEVE COMPONENT OF DATE
    DATEPART(YEAR,D), DATEPART(DAY,D)
    DAY(D), MONTH(D), YEAR(D)
    EXTRACT(YEAR FROM DATE), EXTRACT(DAY FROM DATE)

28 SELECT DATE(OrderDate) FROM Orders;
   SELECT DATEDIFF("2017-06-25", "2017-06-15");
   SELECT DATE_ADD("2017-06-15 09:34:21", INTERVAL -3 HOUR);
   SELECT DATE_SUB("2017-06-15", INTERVAL 10 DAY);
   SELECT DATE_FORMAT("2017-06-15", "%Y");
   SELECT DAYNAME("2017-06-15");
   SELECT DAYOFMONTH("2017-06-15");
   SELECT DAYOFWEEK("2017-06-15");
   SELECT DAYOFYEAR("2017-06-15");
   
22 +DATES, INTERVAL D+I
    DATE + I(DAY/MONTH/DAY) -->2024-09-09 +07
    CURR_DATE() - INTERVAL 3 YEAR
    QUARTER(d)

29. SUBSTRING_INDEX(string, delimiter, count)
If count is positive → returns left part
If count is negative → returns right part


```

## 6.AGGREGATION


Aggregation functions are used to perform calculation on set of rows and return a single result used with group by clause

We cant use agg functions like max/min directly with where clause as it work on single row, we need to use subquery

1. GROUP BY --> it is used with select statement to arrange identical data into groups
   where -->group by -->having -->order by

   ```
   select cns from tn where cns group by cns having count order by cns
   ```
2. HAVING --> it is used with select statement to satisfy conditions
   where -->group by -->having -->order by

   ```
   select cns from tn where cns group by cns having count order by cns
   ```
3. DISTINCT --> TO ELIMINATE DUPLicate records, with only 1 column
   
   ```
   select distinct cn from tn where
   ```

4. 5 CORE FUNCTIONS - USED IN AGGREGATION
  
  1. MIN --> SELECT MIN() FROM TN
  2. MAX
  3. AVG
  4. COUNT() / COUNT(*) / DISTINCT COUNT()
  5. SUM()
  6. OTHERS -> LAST(CN), FISRT(CN)

  ```
  SELECT D_ID, AVG(SALARY) FROM TN GROUP BY D_ID HAVING AVG(SALARY)>=N;

5. AGGREGATE FUNCTION IGNORES NULL VALUES UNLESS SPECIFY

6. HIGHEST- LOWEST NTH

 ```
 1. 2ND HIGHEST -
 select max(salary) from tn where salary not in (select max(salary) from tn)
 2. nth highest
 select min(salary) from tn where salary in(
 select top n salary from tn ordery by salary desc)
 3. nth lowest
 select max(salary) from tn where salary in(
 select top n salary from tn ordery by salary asc)
```

## 7.JOINS

### DEFINE JOINS -

The SQL Join clause is a powerful tool used to combine data from two or more tables in a relational database

1. A join connects rows from different tables by using a condition that defines how the tables relate to each other.

 This condition is often a comparison between columns, commonly using primary keys and foreign keys to link tables. However, joins can be used to compare columns using other types of operators as well.

2. Join Predicate - part of the JOIN clause that specifies the condition under which rows from two or more tables should be combined. It typically uses comparison operators like:

 =, <, >, <=, >=, <>, !=
 BETWEEN, LIKE, IN, and NOT.

 This predicate is usually specified in the ON clause of a join, where you define the relationship between the tables.

3. Key Features of Joins

 1.Flexibility: Joins allow you to combine tables in various ways, depending on how the data is structured and how you need to retrieve it

 2.Multiple Tables: You can use joins to query more than two tables at once, which is useful when working with complex database schemas.

 3.Comparison Operators: You are not limited to equality (=) in the join condition

 4.No Storage

4.Syntax
```
SELECT column_name(s)
FROM table1
**JOIN** table2
ON table1.column_name = table2.column_name;
```

### Types of joins

    inner,left,right,full,cross,self join

1. **Inner Join (Equijoin) /JOIN** - type of join that combines multiple tables by retrieving records that have **matching values in both tables (in the common column).**

 Syntax
```
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
```
 Joining Multiple Tables Using Inner Join
```
SELECT column1, column2, column3...
FROM table1
INNER JOIN table2
ON condition_1
INNER JOIN table3
ON condition_2
...
INNER JOIN tableN
ON condition_N;
```
```
SELECT Employees.EmployeeID, Employees.EmployeeName, Departments.DepartmentName, Salaries.Salary
FROM Employees
INNER JOIN Departments
ON Employees.DepartmentID = Departments.DepartmentID
INNER JOIN Salaries
ON Employees.EmployeeID = Salaries.EmployeeID;
```
  Various clauses can be used to constrain the data, such as the WHERE clause, GROUP BY clause, ORDER BY clause, UNION clause, etc.
```
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;
```


2. **Outer Join** - An Outer Join is used to join multiple database tables into a combined result set that includes all records, even if they don't satisfy the join condition.

 **NULL values are displayed against these records where the join condition is not met**.

 There are three types of outer joins:

 1.Left (Outer) Join: -  **Retrieves all records from the first table, matching records from the second table, and NULL values in unmatched rows**

 2.Right (Outer) Join: **Retrieves all records from the second table, matching records from the first table,** and NULL values in unmatched rows.

 3.Full (Outer) Join: Retrieves records from both tables and fills unmatched values with NULL.

 If the number of rows in the first table is < than the number of rows in the second table, the rows in the second table that do not have any counterparts in the first table will be discarded from the result.
```
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
```
```
SELECT column1, column2, column3...
FROM table1
LEFT JOIN table2
ON condition_1
LEFT JOIN table3
ON condition_2
...
LEFT JOIN tableN
ON condition_N;
```
```
SELECT table1.column1, table2.column2, ...
FROM table1
RIGHT JOIN table2
ON table1.common_field = table2.common_field;
```

 The SQL Full Join - This join is a type of outer join that effectively merges the results of both a Left Join and a Right Join.

 Includes All Records: Every record from both tables is included in the result set.

 NULL for Non-Matches: When there are no matches for a record in one of the tables, the result will contain NULL for columns of that table.

 **MySQL does not support the FULL OUTER JOIN syntax. Instead, you can achieve similar results by combining LEFT JOIN and RIGHT JOIN using a UNION.**
```
SELECT ID, NAME, AMOUNT, DATE
FROM CUSTOMERS
LEFT JOIN ORDERS ON CUSTOMERS.ID = ORDERS.**CUSTOMER_ID**
 UNION
SELECT ID, NAME, AMOUNT, DATE
FROM CUSTOMERS
RIGHT JOIN ORDERS ON CUSTOMERS.ID = ORDERS.CUSTOMER_ID;
```

3. **The SQL Cross Join** - produces the Cartesian product of two tables. This means that every row from the first table is combined with every row from the second table,

 resulting in a dataset where the number of rows is the product of the number of rows in the two tables.

 For instance, if Table A has 3 rows and Table B has 4 rows, a Cross Join will yield 3 × 4 = 12 rows in the result set.
```
Syntax
SELECT column_name(s)
FROM table1
CROSS JOIN table2;
```
```
SELECT column_name(s)
FROM table1
CROSS JOIN table2
CROSS JOIN table3
....
CROSS JOIN tableN;
```
 EX -  generating reports or creating test cases.


4. **Self Join** -  is a type of join that combines records of a table with itself, allowing comparison between rows within the same table.

 For illustration, let's consider a scenario where an organization is organizing a Secret Santa event, and each employee has a color assigned. The organization wants to match employees with their Secret Santa based on these color assignments.
 ```
SELECT column_name(s)
FROM table1 a, table1 b
WHERE a.common_field = b.common_field;
```
 We will use the following SQL query to perform a Self Join to find employees that belong to the same department:
```
SELECT a.EmployeeID AS EmployeeID1, a.EmployeeName AS EmployeeName1,
       b.EmployeeID AS EmployeeID2, b.EmployeeName AS EmployeeName2,
       a.DepartmentID
FROM Employees a, Employees b
WHERE a.DepartmentID = b.DepartmentID AND a.EmployeeID <> b.EmployeeID;
```

 ```
select t1.c1,t2.c1 from tale t1 join  table t2 on condition
```
 Self Join uses an alias for the table (e.g., a and b) to differentiate between the two instances of the same table.

5. **SQL DELETE JOIN** -  allows for the removal of one or more records from a database table.

 When it comes to deleting records from multiple tables simultaneously, SQL provides a method to do so using JOIN clauses. This approach simplifies the deletion process by combining records from related tables based on common fields.

 Efficiency: Rather than issuing separate DELETE commands for each table, you can delete records across multiple tables in a single query.

 Data Integrity: Helps maintain referential integrity by ensuring related records are removed together.
 ```
DELETE table_alias
FROM table1 AS alias1
JOIN table2 AS alias2
ON alias1.common_field = alias2.common_field;
```

 Assume we want to delete all employees who belong to a specific department (for instance, the department with DepartmentID = 3), and we will also delete that department from the Departments table.
 ```
 DELETE e
FROM Employees AS e
JOIN Departments AS d ON e.DepartmentID = d.DepartmentID
WHERE d.DepartmentID = 3;
```
```
DELETE e
FROM Employees AS e
JOIN Salaries AS s ON e.EmployeeID = s.EmployeeID
WHERE s.Salary < 2000.00;
```

6. The UPDATE statement in SQL allows you to modify existing records in a table. When changes need to be made to data in multiple tables simultaneously, the UPDATE... JOIN clause is utilized to facilitate cross-table modifications.

 ```
UPDATE table1
JOIN table2 ON table1.join_column = table2.join_column
SET table1.column1 = value1,
    table1.column2 = value2;
```

 Let's use the same Employees and Salaries tables as before, where we want to update the salary of employees based on their department.
```
UPDATE Salaries AS s
JOIN Employees AS e ON s.EmployeeID = e.EmployeeID
SET s.Salary = s.Salary * 1.10
WHERE e.DepartmentID = 2;
```

## 8.SUBQUERIES

### **INTRO**

1. Inner queries or nested queries, are queries within another SQL query.

 A subquery is placed inside the main query, typically within the SELECT, FROM, or WHERE clauses, and it returns a result that can be used by the main query.

 Subqueries are enclosed in parentheses ( ) and are often used in conjunction with comparison operators such as =, IN, EXISTS, or other SQL keywords.

 they are executed before the main query

2. Use Cases of Subqueries -
  
  Filtering Data:

  Dynamic Calculations: A subquery in the SELECT clause can dynamically compute values based on other parts of the database.

  Conditional Updates: In UPDATE or DELETE operations,
  
  Returning Multiple Rows or Columns: used to perform complex filtering or transformation of data.
  
  Data Aggregation: Subqueries are often used in aggregation queries to group data dynamically or conditionally.
  
3. **Types of Subqueries**

 **1.Single-Row Subquery** - is a type of subquery that returns exactly one row of data. It’s typically used when you need to compare a value from the main query against a single value produced by the subquery.

 used with WHERE or HAVING clause of an SQL statement.

 subquery returns more than one row, it will throw an error

 ```
SELECT employeeId, name
FROM employee
WHERE salary > (
    SELECT salary
    FROM employee
    WHERE employeeId = 15
);

 Subquery (Inner Query):
SELECT salary FROM employee WHERE employeeId = 15
This part of the query returns the salary of the employee whose employee_id is 100. Since it is a Single-Row Subquery, it retrieves only one value (the salary of this specific employee).
```

 ```
Enhancement with LIMIT Clause:
SELECT employeeID, name
FROM employees
WHERE salary > (
    SELECT salary
    FROM employees
    WHERE employeeID = 20
    LIMIT 1
);
```

 **2.Multi-Row Subquery in SQL** - used when the subquery returns multiple rows of data, rather than just one.

 IN, ANY, or ALL, are typically used in the outer query.

 Finding entries that match any value in a list of returned results.

 Comparing each value in the main query against multiple possible values from the subquery.

 **Comparison Operators:**

 IN: Used to check if a value matches any value in a list or subquery result.

 ANY/SOME: Compares a value to each value returned by the subquery.

 ALL: Compares a value against all values returned by the subquery and ensures that the condition is true for all rows.

 ```
SELECT employeeID, name
FROM employee
WHERE departmentID IN (
    SELECT departmentID
    FROM department
    WHERE locationID = 2
);
```
The use of IN allows the main query to compare against multiple values returned by the subquery.

 If no rows are returned by the subquery, the main query will not return any rows either.

 ```
ANY
salary > ANY (SELECT salary FROM employees WHERE department_id = 101)
This checks if an employee's salary is greater than any salary in department 101.
```
```
ALL:
Example: salary > ALL (SELECT salary FROM employees WHERE department_id = 101)
This checks if an employee's salary is greater than all salaries in department 101.
```

 **3.Scalar Subquery in SQL** - returns exactly one value (one column and one row).

 Using subqueries in the SELECT list to dynamically calculate values for each row.
```
SELECT
    (SELECT AVG(Salary)
     FROM Employees
     WHERE DepartmentID = e.DepartmentID) AS Avg_Salary
FROM
    Employees e
WHERE
    e.EmployeeID = 1;
```

 A scalar subquery returns only one value.

 ```
SELECT employee_id, name,
    (SELECT MAX(salary) FROM employees) AS max_salary
FROM employees;
```
This query will return each employee along with the maximum salary found across the entire company.

 4.**Correlated Subquery in SQL** - that depends on the outer query for its values.

 It is evaluated once for each row processed by the main query, unlike regular subqueries which are executed once for the entire query.

 This type of subquery uses a reference to a column from the outer query, creating a link between the subquery and the outer query.

 Performing row-by-row comparisons or checks using subqueries.
 ```
SELECT employeeID, name, salary
FROM employee e
WHERE salary > (
    SELECT AVG(salary)
    FROM employee
    WHERE departmentID = e.departmentID
);
```
 For each row in the outer query, the subquery calculates the average salary for the employee's department.

 ```
SELECT employeeID, name, salary
FROM employee e
WHERE salary > (
    SELECT salary
    FROM employee
    WHERE departmentID = e.departmentID
    ORDER BY salary DESC
    LIMIT 1
);
```
 1.Performance Considerations - Subqueries can sometimes lead to performance issues, especially when they are correlated subqueries

4. Alternatives to Correlated Subqueries: -

 JOINs: In many cases, using JOINs can improve performance by reducing the number of times a subquery is executed. JOINs are generally more efficient as they can be optimized better by the SQL engine.

 Example of Using JOIN Instead:
```
SELECT e1.employeeID, e1.name
FROM employee e1
JOIN (
    SELECT departmentID, AVG(salary) AS avg_salary
    FROM employee
    GROUP BY departmentID
) AS avg_dept_salary ON e1.departmentID = avg_dept_salary.departmentID
WHERE e1.salary > avg_dept_salary.avg_salary;
```

5. When to Choose a Subquery vs. a JOIN:

 1.Use a Subquery:
When the subquery is required to filter or return a single value (e.g., SELECT clause).
When the logic is inherently nested, such as needing to filter based on aggregated results.

 2.Use a JOIN:
When combining rows from two or more tables is needed.
When the performance is a concern, particularly with large datasets.

 3.Nested Subqueries - Nested subqueries refer to the use of one subquery within another.

 ```
SELECT employeeID, name
FROM employee
WHERE departmentID IN (
    SELECT departmentID
    FROM department
    WHERE locationID IN (
        SELECT locationID
        FROM locations
        WHERE LocationName = 'New York'
    )
);
```
 The EXISTS keyword is used to test for the existence of rows returned by a subquery. It returns true if the subquery returns at least one row and false if no rows are returned.

 ```
SELECT employeeID, name
FROM employee e
WHERE EXISTS (
    SELECT 1
    FROM department d
    WHERE d.departmentID = e.departmentID AND d.locationID = 3
);
```

## 9.CTE'S

**### INTRO**

1. **Introduction to CTEs** - It is a way to create a temporary result set that you can refer to multiple times within a single query.

 This result set exists only for the duration of the query it’s associated with, making it particularly useful for organizing complex queries, improving readability, and simplifying debugging and maintenance.

2. **Defined using the WITH keyword** - CTE as a temporary, named subquery that behaves like a virtual table.

 Once defined, this virtual table can be referenced multiple times in the main query.

3. **Why use CTEs?**
- Improved Readability
- Reusability
- Recursive Queries: CTEs support recursion
- Enhanced Modularity: CTEs let you tackle parts of a query step-by-step, enabling cleaner logic and better debugging.
- Temporary Scope: CTEs act as temporary views within a query

```
Syntax -
WITH cte_name AS (
    -- Define your query here
    SELECT column1, column2, ...
    FROM table_name
    WHERE condition
)
-- Main query that uses the CTE
SELECT columns
FROM cte_name;
```

4. CTE Query -

 It can include any valid SQL query, such as SELECT statements with JOIN, GROUP BY, or other clauses.
```
WITH HighEarningEmployees AS (
    SELECT EmployeeID, FirstName, LastName, Salary
    FROM Employees
    WHERE Salary > 50000
)
SELECT EmployeeID, FirstName, LastName
FROM HighEarningEmployees;
```

5. There are two main types of Common Table Expressions (CTEs) in SQL: Non-Recursive CTEs and Recursive CTEs.

- Non-Recursive CTEs - simplest form of a CTE. It is used to structure and organize complex SQL queries by creating a temporary result set that can be referenced within the main query.

 ```
Syntax:
WITH cte_name AS (
    SELECT column1, column2, ...
    FROM table_name
    WHERE condition
)
SELECT columns
FROM cte_name;
```
- Advantages of Non-Recursive CTEs

 Code Readability:

 Reusability:

 Encapsulation: Allows performing calculations or aggregations in one step, making it easy to reference in subsequent queries.

 Use Cases - 1.Data Transformation: Use CTEs to preprocess or filter data before applying additional operations in the main query

 2.Intermediate Calculations: Simplify intermediate steps, such as calculating subtotals, averages, or rankings.

 3.Modular Complex Queries: Break down complex queries with multiple joins or aggregations into manageable sections.

- Recursive CTEs
2. A Recursive CTE is a CTE that references itself

   Recursive CTEs are useful when dealing with data structures that have a self-referential relationship, such as organizational charts, bill of materials, or hierarchical file structures.

```
Syntax
Anchor Member: The initial query that provides the base result set.
Recursive Member: A query that references the CTE itself, allowing for repeated execution based on the result set of the previous iteration.

WITH Recursive_CTE AS (
    -- Anchor member
    SELECT column1, column2
    FROM table_name
    WHERE condition

    UNION ALL

    -- Recursive member (references Recursive_CTE)
    SELECT column1, column2
    FROM table_name
    INNER JOIN Recursive_CTE ON condition
)
SELECT *
FROM Recursive_CTE;
```

```
find all employees in the reporting hierarchy under a specific manager, say, ManagerID = 1.

WITH EmployeeHierarchy AS (
    -- Anchor member: Start from the top manager (e.g., ManagerID = 1)
    SELECT EmployeeID, ManagerID, FirstName, 1 AS Level
    FROM Employees
    WHERE ManagerID = 1

    UNION ALL

    -- Recursive member: Get employees reporting to the ones found in the previous level
    SELECT e.EmployeeID, e.ManagerID, e.FirstName, eh.Level + 1
    FROM Employees e
    INNER JOIN EmployeeHierarchy eh ON e.ManagerID = eh.EmployeeID
)
SELECT EmployeeID, FirstName, Level
FROM EmployeeHierarchy;
```

- Cycle Detection: Recursive CTEs must be carefully designed to avoid infinite loops, SQL engines generally impose a maximum recursion level (often 100 by default), which can be adjusted.

- Recursion Depth: You can control recursion depth using a MAXRECURSION option in some SQL engines (e.g., OPTION (MAXRECURSION n) in SQL Server).
Advantages of Recursive CTEs

- Simplifies Hierarchical Data Queries, without complex self-joins.

- Modular Approach: They offer a structured, easy-to-understand approach to dealing with repetitive or nested data structures.

- Efficient Tree Traversal: Recursive CTEs simplify traversing trees or hierarchical relationships in data, which would be difficult with traditional joins.

- Use Cases for Recursive CTEs - Organizational Hierarchies,
File System Directories: Traversing folder structures,
Parent-Child Relationships,
Graph and Tree Structures

```
Examples of Combining Non-Recursive and Recursive CTEs


WITH DepartmentTotal AS (
    -- Non-recursive CTE to calculate total salary per department
    SELECT DepartmentID, SUM(Salary) AS TotalSalary
    FROM Employees
    GROUP BY DepartmentID
),
EmployeeHierarchy AS (
    -- Recursive CTE to build hierarchy for a specific department
    SELECT EmployeeID, ManagerID, FirstName, DepartmentID, 1 AS Level
    FROM Employees
    WHERE DepartmentID = 1 AND ManagerID IS NULL


    UNION ALL

    SELECT e.EmployeeID, e.ManagerID, e.FirstName, e.DepartmentID, eh.Level + 1
    FROM Employees e
    INNER JOIN EmployeeHierarchy eh ON e.ManagerID = eh.EmployeeID
)
-- Main query using both CTEs
SELECT eh.EmployeeID, eh.FirstName, eh.Level, dt.TotalSalary
FROM EmployeeHierarchy eh
JOIN DepartmentTotal dt ON eh.DepartmentID = dt.DepartmentID;
```

- Multiple CTEs in a Single Query

```
WITH
    cte1 AS (
        -- First CTE definition
        SELECT ...
    ),
    cte2 AS (
        -- Second CTE definition that can reference cte1
        SELECT ...
        FROM cte1
    ),
    cte3 AS (
        -- Third CTE definition that can reference cte1 and cte2
        SELECT ...
        FROM cte2
    )
-- Final SELECT statement that uses one or more of the defined CTEs
SELECT ...
FROM cte3;
```

```
    DeptAvgSalary AS (
        -- CTE 1: Calculate the average salary per department
        SELECT
            DepartmentID,
            AVG(Salary) AS AvgSalary
        FROM
            Employees
        GROUP BY
            DepartmentID
    ),
    HighEarners AS (
        -- CTE 2: Find employees earning above the department average
        SELECT
            e.EmployeeID,
            e.FirstName,
            e.LastName,
            e.Salary,
            e.DepartmentID,
            e.ManagerID
        FROM
            Employees e
        JOIN
            DeptAvgSalary d
        ON
            e.DepartmentID = d.DepartmentID
        WHERE
            e.Salary > d.AvgSalary
    ),
    Managers AS (
        -- CTE 3: Add manager names for employees earning above the department average
        SELECT
            h.EmployeeID,
            h.FirstName AS EmployeeFirstName,
            h.LastName AS EmployeeLastName,
            h.Salary,
            m.FirstName AS ManagerFirstName,
            m.LastName AS ManagerLastName
        FROM
            HighEarners h
        LEFT JOIN
            Employees m
        ON
            h.ManagerID = m.EmployeeID
    )
-- Final SELECT statement that retrieves high earners and their managers
SELECT
    EmployeeFirstName,
    EmployeeLastName,
    Salary,
    ManagerFirstName,
    ManagerLastName
FROM
    Managers;

```
- Benefits of Using Multiple CTEs
1. Readability: By breaking down complex operations
2. Reusability: CTEs can reference each other, allowing intermediate results to be reused in subsequent CTEs or the final query.
3. Maintainability: If any part of the query needs to change, it can be modified within its respective CTE without affecting other parts of the query.


- Advanced CTEs Techniques
Advanced Common Table Expressions (CTEs) techniques allow for even greater flexibility and functionality in SQL.

```
NESTED CTE'S

WITH
    DeptAvgSalary AS (
        SELECT
            DepartmentID,
            AVG(Salary) AS AvgSalary
        FROM
            Employees
        GROUP BY
            DepartmentID
    ),
    HighEarners AS (
        SELECT
            e.EmployeeID,
            e.FirstName,
            e.DepartmentID,
            e.Salary
        FROM
            Employees e
        JOIN
            DeptAvgSalary d ON e.DepartmentID = d.DepartmentID
        WHERE
            e.Salary > d.AvgSalary
    ),
    HighEarnerCount AS (
        SELECT
            DepartmentID,
            COUNT(EmployeeID) AS HighEarnerCount
        FROM
            HighEarners
        GROUP BY
            DepartmentID
    )
SELECT * FROM HighEarnerCount;
```

```
Applying Window Functions within CTEs

CTEs can benefit greatly from window functions, which allow complex analytics, ranking, running totals, moving averages, and more within each partition of data.

Example: Ranking Employees by Salary within Departments
WITH RankedSalaries AS (
    SELECT
        EmployeeID,
        FirstName,
        DepartmentID,
        Salary,
        RANK() OVER (PARTITION BY DepartmentID ORDER BY Salary DESC) AS SalaryRank
    FROM
        Employees
)
SELECT
    EmployeeID,
    FirstName,
    DepartmentID,
    Salary,
    SalaryRank
FROM
    RankedSalaries
WHERE
    SalaryRank = 1;  -- Only show top earners per department

Here:

RANK() assigns ranks within each department, with the highest salary ranked as 1.
```

- Limitations of CTEs Techniques
1. Performance Issues
2. Materialization: Many database systems may materialize CTEs as temporary tables, which can lead to performance overhead
3. Optimization Limitations: Some databases do not optimize CTEs as effectively as regular queries.

- Scope and Lifetime
1. Limited Scope: CTEs are only valid within the execution of the single SQL statement that they are defined in.

 They cannot be referenced in other queries, procedures, or CTEs outside their immediate context.

2. Lifetime of CTEs: Once the query that uses a CTE is executed,

- Recursive CTE Limitations
1. Recursion Depth: Many databases impose limits on the recursion depth of recursive CTEs.
2. Infinite Recursion Risks:

- Readability and Complexity
1. Readability Concerns: While CTEs can improve query readability, overly complex CTE structures or nested CTEs can make queries difficult to understand and maintain
2. Overuse: Relying heavily on CTEs for complex queries might lead to convoluted code that is harder to debug and understand, particularly when multiple CTEs are nested.

- Limited Functionality Compared to Views
1. No Indexing: Unlike indexed views (materialized views), CTEs cannot be indexed, which can impact performance when dealing with large datasets or frequently queried data.
2. Static Definition: CTEs are defined in the query itself and do not store any schema information. In contrast, views can encapsulate complex logic and provide a static interface for users.
Related Blogs

## 10.WINDOW FUNCTIONS

### INTRO

1. Introduction to Window Functions
Window functions are a powerful feature in SQL,use to perform complex calculations across a set of table rows related to the current row without the need to group or aggregate data as in traditional aggregate functions.

 computations like running totals, moving averages, and rank calculations.


2. Components of Window Functions -
- OVER Clause: Defines the window or subset of rows on which the function will operate.
- PARTITION BY: Splits data into **partitions to which the function is applied individually**. It’s similar to GROUP BY but doesn’t reduce the rows.
- ORDER BY: Orders rows **within each partition**, crucial for functions that require ordering, like ranking or cumulative sums.
- Window Frame: Defines a subset of rows within the partition relative to the current row. By default, this frame includes all rows in the partition, but you can customize it with clauses like ROWS BETWEEN or RANGE BETWEEN.


3. Why Use Window Functions?

 Window functions let you perform advanced calculations across sets of rows while keeping each individual row in the result, unlike GROUP BY, which combines rows into one per group. Here’s why they’re useful:

- Detailed Analysis Without Aggregating Rows: You can keep individual rows while calculating cumulative sums, averages, or ranks within each subset of data. This is great for tracking trends over time (e.g., running total of monthly sales).
- Easy Row Comparisons: Functions like LAG() and LEAD() allow you to compare data between rows directly (like finding differences between current and previous values), which is essential in time-series analysis and tracking changes.
- Efficient Grouped Calculations: The PARTITION BY clause allows you to calculate metrics within groups (e.g., department-wise salary rankings) while keeping the row-level detail.
- Simplicity and Efficiency: Instead of complex joins or subqueries, window functions let you achieve advanced analytics in a more streamlined and efficient way
```
Syntax
function_name(column_name) OVER (
    [PARTITION BY partition_column]
    [ORDER BY order_column]
)
```

4. Types of window function - **Aggregate Window Functions** - allows you to perform calculations across sets of rows while still returning a row for each individual record..
- Window Functions: performs a calculation across a set of table rows related to the current row, defined by a "window." The window is specified by the OVER() clause.
- Aggregate Functions: used to perform calculations on a group of rows and return a single result.ex - SUM, AVG, COUNT, MIN, and MAX.
- Window Frame: Window functions operate on a "frame," a subset of rows relative to the current row within the partition. For example, ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW defines a frame from the start of the partition up to the current row.
- Partitioning and Ordering: You can partition data using PARTITION BY to divide data into subsets (windows) before the calculation is applied. -ORDER BY within OVER() allows you to define the order of rows within each partition.


```
Explanation: Calculates the running total of sale_amount per product_id ordered by sale_date.
 SUM(): Calculates the running or grouped sum of values.

 SELECT product_id,
       sale_date,
       sale_amount,
       SUM(sale_amount) OVER(PARTITION BY product_id ORDER BY sale_date) AS running_total
 FROM sales;
```

```
AVG(): Computes the average across the window.
SELECT department,
       employee_id,
       salary,
       AVG(salary) OVER(PARTITION BY department) AS department_avg_salary
FROM employees;

Explanation: Computes the average salary per department, assigning the same average to each employee within the department.
```
```
COUNT(): Counts the number of rows in the window.
SELECT product_category,
       product_id,
       COUNT(*) OVER(PARTITION BY product_category) AS total_products_in_category
FROM products;
Explanation: Counts the total number of products per category.
```
```
MIN() and MAX(): Find the minimum or maximum value within the window.
SELECT department,
       employee_id,
       hire_date,
       MIN(hire_date) OVER(PARTITION BY department) AS earliest_hire_date
FROM employees;

Explanation: Retrieves the earliest hire date per department.
```
```
ROW_NUMBER() (Non-Aggregate but Related): Assigns a unique row number for each row within a partition.
SELECT department,
       employee_id,
       ROW_NUMBER() OVER(PARTITION BY department ORDER BY hire_date) AS row_num
FROM employees;
Explanation: Assigns a unique number to each employee within each department ordered by their hire date.
```

5. Ranking Functions - used to assign a rank to each row within a partition of a result set. They are commonly used in reporting, analytics, and complex data manipulations,

- ROW_NUMBER() - assigns a unique sequential integer to rows within a partition, starting from 1 for each new partition.

```
ROW_NUMBER() OVER(PARTITION BY column1 ORDER BY column2)

SELECT department,
       employee_id,
       salary,
       ROW_NUMBER() OVER(PARTITION BY department ORDER BY hire_date) AS row_num
FROM employees;

```

- RANK() - assigns a rank to each row within a partition, but unlike ROW_NUMBER(), it assigns the **same rank to rows with identical values in the ORDER BY clause. If there are ties, it skips the subsequent ranks.**

```
RANK() OVER(PARTITION BY column1 ORDER BY column2)

SELECT product_id,
       sale_date,
       sale_amount,
       RANK() OVER(PARTITION BY product_id ORDER BY sale_amount DESC) AS sale_rank
FROM sales;
```

- DENSE_RANK() -similar to RANK(), but it does not skip ranks if there are ties. Rows with the same value in the ORDER BY clause get the same rank, and the next rank continues sequentially.

```
DENSE_RANK() OVER(PARTITION BY column1 ORDER BY column2)
SELECT product_id,
       sale_date,
       sale_amount,
       DENSE_RANK() OVER(PARTITION BY product_id ORDER BY sale_amount DESC) AS dense_sale_rank
FROM sales;
```

- NTILE(n) - divides rows into n roughly equal groups and assigns a group number to each row, from 1 to n.

```
NTILE(n) OVER(PARTITION BY column1 ORDER BY column2)

SELECT department,
       employee_id,
       salary,
       NTILE(2) OVER(PARTITION BY department ORDER BY salary DESC) AS salary_quartile
FROM employees;
```

6. Value Based Window Function - they return specific values from a set of ordered data within a defined window frame.

 These functions are useful in retrieving values based on relative or absolute position within a partition of data, often used in time series analysis, financial analysis, and trend reporting.

- FIRST_VALUE()- retrieves the first value in a specified window frame, ordered by a defined criterion.

```
FIRST_VALUE(column_name) OVER(PARTITION BY column1 ORDER BY column2)
SELECT product_id,
       sale_date,
       sale_amount,
       FIRST_VALUE(sale_amount) OVER(PARTITION BY product_id ORDER BY sale_date) AS first_sale
FROM sales;
```

- LAST_VALUE()- retrieves the last value in a specified window frame, ordered by a defined criterion.

```
LAST_VALUE(column_name) OVER(PARTITION BY column1 ORDER BY column2)
SELECT product_id,
       sale_date,
       sale_amount,
       LAST_VALUE(sale_amount) OVER(PARTITION BY product_id ORDER BY sale_date RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_sale
FROM sales;
```

- LAG()- retrieves a value from a specified number of rows “before” the current row in the same result set partition.
```
LAG(column_name, offset, default_value) OVER(PARTITION BY column1 ORDER BY column2)
SELECT product_id,
       sale_date,
       sale_amount,
       LAG(sale_amount, 1, 0) OVER(PARTITION BY product_id ORDER BY sale_date) AS previous_sale
FROM sales;
```

- LEAD()
The LEAD() function retrieves a value from a specified number of rows “after” the current row in the same result set partition.

```
LEAD(column_name, offset, default_value) OVER(PARTITION BY column1 ORDER BY column2)

SELECT product_id,
       sale_date,
       sale_amount,
       LEAD(sale_amount, 1, 0) OVER(PARTITION BY product_id ORDER BY sale_date) AS next_sale
FROM sales;
```

7. Statistical Functions
- VARIANCE() - calculates the statistical variance within the window frame. Variance measures the spread of data points around the mean.
```
VARIANCE(column_name) OVER (PARTITION BY column1 ORDER BY column2)
SELECT product_id, sale_date, sale_amount, VARIANCE(sale_amount) OVER(PARTITION BY product_id ORDER BY sale_date) AS variance_sale FROM sales;
```

- STDDEV() - calculates the standard deviation, a measure of data dispersion, within the window frame.
```
STDDEV(column_name) OVER (PARTITION BY column1 ORDER BY column2)
SELECT product_id, sale_date, sale_amount, STDDEV(sale_amount) OVER(PARTITION BY product_id ORDER BY sale_date) AS stddev_sale FROM sales;
```

8. Window Frame Clauses - define the specific subset of rows, or "frame," within a partition that the window function should operate on.

 Window frames are essential for fine-tuning window functions, especially when working with time series or ordered data.

```
Structure of a Window Frame Clause:

- A window frame is defined within the OVER clause of a window function and includes:

- Partitioning: Specifies how rows are grouped within the data set using the PARTITION BY clause.

- Ordering: Orders the rows in each partition with the ORDER BY clause.

- Frame Specification: Specifies the exact rows within the partition to include in the calculation.
Syntax:

<window_function> OVER (
    PARTITION BY <column>
    ORDER BY <column>
    ROWS or RANGE BETWEEN <frame_start> AND <frame_end>
)

```

9. Frame Types: ROWS vs RANGE

- ROWS: Specifies the frame based on a fixed number of rows before and after the current row.

 ex- ROWS BETWEEN 2 PRECEDING AND 1 FOLLOWING includes two rows before and one row after the current row.

 Use Case: Useful for specific row counts, such as calculating a three-day moving average for each day in a time series dataset.

- RANGE: Specifies the frame based on a range of values rather than a fixed number of rows, which is useful for date and time ranges.

 ex- RANGE BETWEEN INTERVAL '7' DAY PRECEDING AND CURRENT ROW includes all rows within a 7-day range up to the current date.

 Use Case: Useful for calculations like cumulative totals over specified time periods (e.g., one week).


10. Frame Boundaries - specify the start and end points of the frame and determine which rows are included in the calculation. The common frame boundaries are:

- UNBOUNDED PRECEDING: Includes all rows from the start of the partition up to the current row.
- UNBOUNDED FOLLOWING: Includes all rows from the current row to the end of the partition.
- CURRENT ROW: Includes only the current row in the calculation.
- n PRECEDING: Includes n rows before the current row.
- n FOLLOWING: Includes n rows after the current row.


11. Common Frame Specifications and Their Uses

- Cumulative Calculation: ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
Includes all rows from the start of the partition up to the current row, creating a cumulative calculation.

 ex - Running totals, cumulative sums, and cumulative averages.
Example: Using Sales Table:
```
SELECT date, sales,
       SUM(sales) OVER (ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total
FROM sales_data;
```
- Moving Window Calculation: ROWS BETWEEN n PRECEDING AND CURRENT ROW
Includes the n rows before the current row and the current row, useful for calculating moving averages or totals within a sliding window.

 ex -Calculating moving averages or running sums over a specific number of rows.
Example:
```
SELECT date, sales,
       AVG(sales) OVER (ORDER BY date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg
FROM sales_data;
```

- Centered Window Calculation: ROWS BETWEEN n PRECEDING AND n FOLLOWING
Includes n rows before and n rows after the current row.

 ex - Useful for smoothing functions or trend analysis where surrounding values are equally considered.
 ```
SELECT date, sales,
       AVG(sales) OVER (ORDER BY date ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) AS centered_avg
FROM sales_data;
```
- Fixed Range Calculation: RANGE BETWEEN INTERVAL 'n' DAY PRECEDING AND CURRENT ROW
Includes all rows within a specified date range, providing flexibility to include rows based on time intervals rather than a fixed number of rows

 ex - Cumulative sales over a rolling period, like the last 7 days, in time-based data.

 ```
 SELECT date, sales,
       SUM(sales) OVER (ORDER BY date RANGE BETWEEN INTERVAL '7' DAY PRECEDING AND CURRENT ROW) AS weekly_total
FROM sales_data;
```

12. Window Function Advantages

-  Enhanced Performance and Efficiency - Window functions perform aggregations without needing subqueries or self-joins, reducing complexity and improving query performance.

- Row-Level Analysis with Aggregate-Like Behavior- Unlike traditional aggregate functions, window functions allow you to perform aggregations without collapsing rows, providing richer insights for each individual record.

- Flexible and Dynamic Windowing - Window functions allow you to define specific partitions, orders, and frames, offering control over how rows are grouped and the range of rows included in calculations.

- Simplifies Complex Calculations - like ranking (e.g., row numbering, ranking by value), percentiles, and lag/lead functions for comparing values between rows.

- Partitioning for Group-Specific Analysis


13. Window Function Limitations

- Performance Overhead on Large Datasets - Window functions can be computationally intensive, particularly on very large datasets or when combined with complex partitioning and ordering criteria. This can lead to performance degradation if not optimized carefully.

- Limited Support for Nesting - SQL does not allow direct nesting of window functions.

 For example, you cannot use the output of a window function within another window function in the same query.

 As a workaround, nested window function calculations often require Common Table Expressions (CTEs) or subqueries, which can make the query structure more complex.

- Cannot Be Used in WHERE or HAVING Clauses

 Window functions cannot be directly used in WHERE or HAVING clauses, as these clauses are applied before the window function calculations are executed.

 you typically need to use a subquery, a CTE, or filter in a later stage of the query (such as with a SELECT wrapping the windowed results).

- Partitioning and Ordering Requirements - Window functions work best when partitions and ordering are clearly defined.

 Careful ordering is essential for meaningful calculations in cumulative sums, running totals, and moving averages, as row order affects the results.

- Limited Use in Aggregations with GROUP BY - Window functions operate on individual rows and can’t be directly combined with GROUP BY clauses in the same query.  

 this requires you to choose between row-by-row and grouped aggregations or to use separate query steps to combine both.

## 11.REGEXP



- Allow for pattern searching with string

 1. regexp_like() --> check if string matches a regexp
 2. regexp_replace() --> replace part of string that matches with regexp
 3. regexp_substr() --> extarct substring that matches with regexp
 4. regexp() --> similar to like used in mysql
 5. POSIX Regex syntax --> used in postgress ~ ~* !~
 6. ^ - matches beginning of string
 7. $ - matches end of string
 8. . - any single char
 9. */ ? - zero or more occurences
 10. plus -  1 or more occurences
 11. [] - matches any char in []
 12. [^] - not
 12. |   - logical or
 14. () - group patterns
 15. \d - matches digit 0-9
 16. \w - chars, alphanumeric plus_
 17. \s - matches white spaces

## 12ORDER OF EXECUTION

```
select ------------
from  tn
where conditions in non agg cns
group by non agg cns
having condition for agg cns
order by cns
limit
offset

order
1. from tn
2. where
3. group by
4. having
5. select
6. order by
7. offset
8. limit
```